        <!-- Login Content -->
        <div class="content overflow-hidden">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <!-- Login Block -->
                    <div class="block block-themed animated fadeIn">
                        <div class="block-header bg-primary">
                            <ul class="block-options">
                                <li>
                                    <a class="hidden" href="base_pages_reminder.html">Forgot Password?</a>
                                </li>
                                <li>
                                    <a class="hidden" href="base_pages_register.html" data-toggle="tooltip" data-placement="left" title="New Account"><i class="si si-plus"></i></a>
                                </li>
                            </ul>
                            <h3 class="block-title">Login</h3>
                        </div>
                        <div class="block-content block-content-full block-content-narrow">
                            <!-- Login Title -->
                            <h1 class="h2 font-w600 push-30-t push-5">Sensor-DX</h1>
                            <p>Welcome, please login.</p>
                            <!-- END Login Title -->

                            <!-- Login Form -->
                            <!-- jQuery Validation (.js-validation-login class is initialized in js/pages/base_pages_login.js) -->
                            <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                            <form class="js-validation-login form-horizontal push-30-t push-50" ng-submit="onLoginSubmit()">
                                <div class="form-group">
                                    <div class="col-xs-12">
																				<div class="form-group form-material form-material-primary floating" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                                            <input class="form-control" type="text" id="login-email" name="login-email" ng-model="login.email">
                                            <label for="login-email">Email</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
																				<div class="form-group form-material form-material-primary floating" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                                            <input class="form-control" type="password" id="login-password" name="login-password" ng-model="login.password">
                                            <label for="login-password">Password</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label class="css-input switch switch-sm switch-primary">
                                            <input type="checkbox" id="login-remember-me" name="login-remember-me" ng-model="login.remember_me"><span></span> Remember Me?
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <button ng-disabled="form.$invalid || dataLoading" class="btn btn-block btn-primary" type="submit">
																						<i class="si si-login pull-right"></i> 
																						Log in
																				</button>
                                    </div>
                                </div>
                            </form>
                            <!-- END Login Form -->
                        </div>
                    </div>
                    <!-- END Login Block -->
                </div>
            </div>
        </div>
        <!-- END Login Content -->

        <!-- Login Footer -->
        <div class="push-10-t text-center animated fadeInUp">
            <small class="text-muted font-w600"><span class="js-year-copy"></span> &copy;  Sensor-Dx</small>
        </div>
        <!-- END Login Footer -->
