<md-dialog aria-label="Add User">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add User</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
					<i class="fa fa-times" aria-label="Close dialog" aria-hidden="true"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
			<md-content class="md-padding">
				<div layout="column" class="md-inline-form">
					<md-content layout-padding>
						<div>
							<form name="userForm">
								<div layout-gt-sm="row">
									<md-input-container class="md-block" flex-gt-sm>
										<label>First Name</label>
										<input ng-model="user.first_name">
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Last Name</label>
										<input ng-model="user.last_name">
									</md-input-container>
								</div>

								<div layout-gt-sm="row">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Email</label>
										<input ng-model="user.email">
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Phone</label>
										<input ng-model="user.phone">
									</md-input-container>
								</div>
								<div layout-gt-sm="row">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Role</label>
										<md-select ng-model="user.role">
											<md-option ng-repeat="role in roles" value="{{role}}">
												{{role}}
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container ng-if="user.role == 'agent'" class="md-block" flex-gt-sm>
										<label>Manager</label>
										<md-select ng-model="user.manager">
											<md-option value="">
											</md-option>
											<md-option ng-repeat="manager in managers" value="{{manager._id}}">
												{{manager.full_name}}
											</md-option>
										</md-select>
									</md-input-container>
								</div>
							</form>
						</div>
					</md-content>
				</div>
			</md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" >
        Cancel
      </md-button>
      <md-button ng-click="submit(user)" style="margin-right:20px;" >
        Submit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
