<!-- Page Header -->
<div class="content bg-gray-lighter">
    <h1 class="page-heading push">
        Blocks API <small>Powerful way to manipulate any block you want.</small>
    </h1>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
    <!-- Blocks API, functionality is initialized in js/app.js -> uiHelpers Factory -> uiBlocks() -->
    <h2 class="content-heading">API</h2>
    <div class="row">
        <div class="col-sm-8">
            <div class="block">
                <div class="block-content">
                    <p>You can either use <code>helpers.uiBlocks('_blockId_', '_mode_')</code> on click or <code>$scope.helpers.uiBlocks('_blockId_', '_mode_')</code> from your controller</p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Live</th>
                                    <th>Mode</th>
                                    <th>Live</th>
                                    <th>Mode</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-primary" type="button" data-ng-click="helpers.uiBlocks('#my-block', 'content_toggle')" data-js-blur>Toggle Content</button>
                                    </td>
                                    <td>
                                        <code>content_toggle</code>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-warning" type="button" data-ng-click="helpers.uiBlocks('#my-block', 'refresh_toggle')" data-js-blur>Toggle Refresh</button>
                                    </td>
                                    <td>
                                        <code>refresh_toggle</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-primary" type="button" data-ng-click="helpers.uiBlocks('#my-block', 'content_hide')" data-js-blur>Hide Content</button>
                                    </td>
                                    <td>
                                        <code>content_hide</code>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-warning" type="button" data-ng-click="helpers.uiBlocks('#my-block', 'state_loading')" data-js-blur>State Loading</button>
                                    </td>
                                    <td>
                                        <code>state_loading</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-primary" type="button" data-ng-click="helpers.uiBlocks('#my-block', 'content_show')" data-js-blur>Show Content</button>
                                    </td>
                                    <td>
                                        <code>content_show</code>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-warning" type="button" data-ng-click="helpers.uiBlocks('#my-block', 'state_normal')" data-js-blur>State Normal</button>
                                    </td>
                                    <td>
                                        <code>state_normal</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-success" type="button" data-ng-click="helpers.uiBlocks('#my-block', 'fullscreen_toggle')" data-js-blur>Toggle Fullscreen</button>
                                    </td>
                                    <td>
                                        <code>fullscreen_toggle</code>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger" type="button" data-ng-click="helpers.uiBlocks('#my-block', 'close')" data-js-blur>Close</button>
                                    </td>
                                    <td>
                                        <code>close</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-success" type="button" data-ng-click="helpers.uiBlocks('#my-block', 'fullscreen_on')" data-js-blur>Fullscreen On</button>
                                    </td>
                                    <td>
                                        <code>fullscreen_on</code>
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-danger" type="button" data-ng-click="helpers.uiBlocks('#my-block', 'open')" data-js-blur>Open</button>
                                    </td>
                                    <td>
                                        <code>open</code>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-success" type="button" data-ng-click="helpers.uiBlocks('#my-block', 'fullscreen_off')" data-js-blur>Fullscreen Off</button>
                                    </td>
                                    <td>
                                        <code>fullscreen_off</code>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="block" id="my-block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="fullscreen_toggle"></button>
                        </li>
                        <li>
                            <button type="button" data-js-block-option data-action="content_toggle"></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Test Block</h3>
                </div>
                <div class="block-content">
                    <p>This is our test block with id <code>my-block</code></p>
                </div>
            </div>
        </div>
    </div>
    <!-- END Blocks API -->

    <!-- Interactive Blocks (data-js-block-option attribute is initialized in js/directives.js) -->
    <!-- In fullscreen and content toggle buttons, icon classes are auto added -->
    <h2 class="content-heading">Interactive Blocks</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <!-- To toggle block's content, just add the following properties to your button: data-js-block-option data-action="content_toggle" -->
                            <button type="button" data-js-block-option data-action="content_toggle"></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Toggle Content</h3>
                </div>
                <div class="block-content">
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <!-- To close a block, just add the following properties to your button: data-js-block-option data-action="close" -->
                            <button type="button" data-js-block-option data-action="close"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Close Block</h3>
                </div>
                <div class="block-content">
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <!-- To toggle fullscreen a block, just add the following properties to your button: data-js-block-option data-action="fullscreen_toggle" -->
                            <button type="button" data-js-block-option data-action="fullscreen_toggle"></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Maximize Block</h3>
                </div>
                <div class="block-content">
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <!--
                            To activate loading state to a block, just add the following properties to your button: data-js-block-option data-action="refresh_toggle"
                            If you also add the property data-action-mode="demo" the loading state will be disabled in 2 seconds for demostration purposes

                            Without the demo mode, you can restore the block to its normal state from your controller by using the following code: $scope.helpers.uiBlocks('yourBlockId','state_normal');
                            You can use it after you've loaded successfully your data (please check Blocks API)
                            -->
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Refresh</h3>
                </div>
                <div class="block-content">
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="fullscreen_toggle"></button>
                        </li>
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                        <li>
                            <button type="button" data-js-block-option data-action="content_toggle"></button>
                        </li>
                        <li>
                            <button type="button" data-js-block-option data-action="close"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">All Together</h3>
                </div>
                <div class="block-content">
                    <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
                    <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END Interactive Blocks -->

    <!-- Loading Indicators -->
    <h2 class="content-heading">Loading Indicators</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Default Icon (Cog)</h3>
                </div>
                <div class="block-content">
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="block block-opt-refresh-icon2">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Icon #2 (Location)</h3>
                </div>
                <div class="block-content">
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="block block-opt-refresh-icon3">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Icon #3 (Energy)</h3>
                </div>
                <div class="block-content">
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="block block-opt-refresh-icon4">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Icon #4 (Refresh)</h3>
                </div>
                <div class="block-content">
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="block block-opt-refresh-icon5">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Icon #5 (Sun)</h3>
                </div>
                <div class="block-content">
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="block block-opt-refresh-icon6">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Icon #6 (OneUI)</h3>
                </div>
                <div class="block-content">
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="block block-opt-refresh-icon7">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Icon #7 (Hourglass)</h3>
                </div>
                <div class="block-content">
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="block block-opt-refresh-icon8">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Icon #8 (Repeat)</h3>
                </div>
                <div class="block-content">
                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END Loading Indicators -->
</div>
<!-- END Page Content -->