<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Table Tools <small>Custom functionality to further enrich your tables.</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Tables</li>
                <li><a class="link-effect" href="">Tools</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-boxed">
    <!-- Table Sections (data-js-table-sections attribute is initialized in js/directives.js) -->
    <div class="block">
        <div class="block-header">
            <div class="block-options">
                <code>data-js-table-sections</code>
            </div>
            <h3 class="block-title">Table Sections</h3>
        </div>
        <div class="block-content">
            <!--
            Separate your table content with multiple tbody sections. Add one row and add the class .js-table-sections-header to a
            tbody section to make it clickable. It will then toggle the next tbody section which can have multiple rows. Eg:

            <tbody class="js-table-sections-header">One row</tbody>
            <tbody>Multiple rows</tbody>
            <tbody class="js-table-sections-header">One row</tbody>
            <tbody>Multiple rows</tbody>
            <tbody class="js-table-sections-header">One row</tbody>
            <tbody>Multiple rows</tbody>

            You can also add the class .open in your tbody.js-table-sections-header to make the next tbody section visible by default
            -->
            <table class="table table-hover" data-js-table-sections>
                <thead>
                    <tr>
                        <th style="width: 30px;"></th>
                        <th>Name</th>
                        <th style="width: 15%;">Access</th>
                        <th class="hidden-xs" style="width: 15%;">Date</th>
                    </tr>
                </thead>
                <tbody class="js-table-sections-header open">
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-angle-right"></i>
                        </td>
                        <td class="font-w600">Denise Watson</td>
                        <td>
                            <span class="label label-success">VIP</span>
                        </td>
                        <td class="hidden-xs">
                            <em class="text-muted">June 20, 2015 12:16</em>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $75,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 11, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $34,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 2, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $40,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 17, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $69,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 17, 2015 12:16</small>
                        </td>
                    </tr>
                </tbody>
                <tbody class="js-table-sections-header">
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-angle-right"></i>
                        </td>
                        <td class="font-w600">Laura Bell</td>
                        <td>
                            <span class="label label-primary">Personal</span>
                        </td>
                        <td class="hidden-xs">
                            <em class="text-muted">June 3, 2015 12:16</em>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $50,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 24, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $73,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 27, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $44,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 15, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $35,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 28, 2015 12:16</small>
                        </td>
                    </tr>
                </tbody>
                <tbody class="js-table-sections-header">
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-angle-right"></i>
                        </td>
                        <td class="font-w600">Susan Elliott</td>
                        <td>
                            <span class="label label-success">VIP</span>
                        </td>
                        <td class="hidden-xs">
                            <em class="text-muted">June 15, 2015 12:16</em>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $84,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 27, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $26,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 12, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $80,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 11, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $49,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 2, 2015 12:16</small>
                        </td>
                    </tr>
                </tbody>
                <tbody class="js-table-sections-header">
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-angle-right"></i>
                        </td>
                        <td class="font-w600">Walter Fox</td>
                        <td>
                            <span class="label label-success">VIP</span>
                        </td>
                        <td class="hidden-xs">
                            <em class="text-muted">June 6, 2015 12:16</em>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $53,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 6, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $68,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 8, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $71,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 7, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $57,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 3, 2015 12:16</small>
                        </td>
                    </tr>
                </tbody>
                <tbody class="js-table-sections-header">
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-angle-right"></i>
                        </td>
                        <td class="font-w600">Megan Dean</td>
                        <td>
                            <span class="label label-info">Business</span>
                        </td>
                        <td class="hidden-xs">
                            <em class="text-muted">June 28, 2015 12:16</em>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $64,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 17, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $52,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 23, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $79,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 17, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $51,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 25, 2015 12:16</small>
                        </td>
                    </tr>
                </tbody>
                <tbody class="js-table-sections-header">
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-angle-right"></i>
                        </td>
                        <td class="font-w600">Julia Cole</td>
                        <td>
                            <span class="label label-primary">Personal</span>
                        </td>
                        <td class="hidden-xs">
                            <em class="text-muted">June 3, 2015 12:16</em>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $85,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 21, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $62,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 22, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $25,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 16, 2015 12:16</small>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="font-w600 text-success">+ $68,00</td>
                        <td>
                            <small>Paypal</small>
                        </td>
                        <td class="hidden-xs">
                            <small class="text-muted">June 21, 2015 12:16</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Table Sections -->

    <!-- Table Sections (data-js-table-checkable attribute is initialized in js/directives.js) -->
    <div class="block">
        <div class="block-header">
            <div class="block-options">
                <code>.data-js-table-checkable</code>
            </div>
            <h3 class="block-title">Checkable Table</h3>
        </div>
        <div class="block-content">
            <!-- If you put a checkbox in thead section, it will automatically toggle all tbody section checkboxes -->
            <table class="table table-hover" data-js-table-checkable>
                <thead>
                    <tr>
                        <th class="text-center" style="width: 70px;">
                            <label class="css-input css-checkbox css-checkbox-primary remove-margin-t remove-margin-b">
                                <input type="checkbox" id="check-all" name="check-all"><span></span>
                            </label>
                        </th>
                        <th>Name</th>
                        <th class="hidden-xs" style="width: 15%;">Access</th>
                        <th class="hidden-xs" style="width: 15%;">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <label class="css-input css-checkbox css-checkbox-primary">
                                <input type="checkbox" id="row_1" name="row_1"><span></span>
                            </label>
                        </td>
                        <td>
                            <p class="font-w600 push-10">Julia Cole</p>
                            <p class="text-muted remove-margin-b">Customer details and further information</p>
                        </td>
                        <td class="hidden-xs">
                            <span class="label label-primary">Personal</span>
                        </td>
                        <td class="hidden-xs">
                            <em class="text-muted">June 10, 2015 12:16</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <label class="css-input css-checkbox css-checkbox-primary">
                                <input type="checkbox" id="row_2" name="row_2"><span></span>
                            </label>
                        </td>
                        <td>
                            <p class="font-w600 push-10">Craig Stone</p>
                            <p class="text-muted remove-margin-b">Customer details and further information</p>
                        </td>
                        <td class="hidden-xs">
                            <span class="label label-info">Business</span>
                        </td>
                        <td class="hidden-xs">
                            <em class="text-muted">June 13, 2015 12:16</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <label class="css-input css-checkbox css-checkbox-primary">
                                <input type="checkbox" id="row_3" name="row_3"><span></span>
                            </label>
                        </td>
                        <td>
                            <p class="font-w600 push-10">Judy Alvarez</p>
                            <p class="text-muted remove-margin-b">Customer details and further information</p>
                        </td>
                        <td class="hidden-xs">
                            <span class="label label-danger">Disabled</span>
                        </td>
                        <td class="hidden-xs">
                            <em class="text-muted">June 11, 2015 12:16</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <label class="css-input css-checkbox css-checkbox-primary">
                                <input type="checkbox" id="row_4" name="row_4"><span></span>
                            </label>
                        </td>
                        <td>
                            <p class="font-w600 push-10">Amanda Powell</p>
                            <p class="text-muted remove-margin-b">Customer details and further information</p>
                        </td>
                        <td class="hidden-xs">
                            <span class="label label-primary">Personal</span>
                        </td>
                        <td class="hidden-xs">
                            <em class="text-muted">June 1, 2015 12:16</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <label class="css-input css-checkbox css-checkbox-primary">
                                <input type="checkbox" id="row_5" name="row_5"><span></span>
                            </label>
                        </td>
                        <td>
                            <p class="font-w600 push-10">Rebecca Gray</p>
                            <p class="text-muted remove-margin-b">Customer details and further information</p>
                        </td>
                        <td class="hidden-xs">
                            <span class="label label-warning">Trial</span>
                        </td>
                        <td class="hidden-xs">
                            <em class="text-muted">June 19, 2015 12:16</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <label class="css-input css-checkbox css-checkbox-primary">
                                <input type="checkbox" id="row_6" name="row_6"><span></span>
                            </label>
                        </td>
                        <td>
                            <p class="font-w600 push-10">Keith Simpson</p>
                            <p class="text-muted remove-margin-b">Customer details and further information</p>
                        </td>
                        <td class="hidden-xs">
                            <span class="label label-danger">Disabled</span>
                        </td>
                        <td class="hidden-xs">
                            <em class="text-muted">June 5, 2015 12:16</em>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Checkable Table -->
</div>
<!-- END Page Content -->