<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Sliders <small>Draggable with mouse and touch, flexible and mobile friendly content sliders.</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Components</li>
                <li><a class="link-effect" href="">Sliders</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
    <!-- Slick slider (data-js-slider attribute is initialized in js/directives.js) -->
    <!-- For more info and examples you can check out http://kenwheeler.github.io/slick/ -->
    <!--
        Extra Classes:

        'slick-nav-hover'    for navigation buttons visible on hover
        'slick-nav-white'    for white navigation buttons
    -->

    <!-- Content Sliders -->
    <h2 class="content-heading">Content Sliders</h2>
    <div class="row items-push">
        <div class="col-sm-4">
            <!-- Avatars -->
            <div class="block">
                <div class="block-header">
                    <h3 class="block-title">Avatars</h3>
                </div>
                <div class="block-content">
                    <!-- Slider with Avatars -->
                    <div data-js-slider="{dots: true, arrows: true}" class="text-center">
                        <div>
                            <img class="img-avatar" src="assets/img/avatars/avatar6.jpg" alt="">
                            <div class="push-10-t font-w600">Tiffany Kim</div>
                            <div class="font-s13 text-muted">Web Designer</div>
                        </div>
                        <div>
                            <img class="img-avatar" src="assets/img/avatars/avatar5.jpg" alt="">
                            <div class="push-10-t font-w600">Susan Elliott</div>
                            <div class="font-s13 text-muted">Font Designer</div>
                        </div>
                        <div>
                            <img class="img-avatar" src="assets/img/avatars/avatar4.jpg" alt="">
                            <div class="push-10-t font-w600">Ann Parker</div>
                            <div class="font-s13 text-muted">Artist</div>
                        </div>
                        <div>
                            <img class="img-avatar" src="assets/img/avatars/avatar3.jpg" alt="">
                            <div class="push-10-t font-w600">Amanda Powell</div>
                            <div class="font-s13 text-muted">Graphic Designer</div>
                        </div>
                        <div>
                            <img class="img-avatar" src="assets/img/avatars/avatar2.jpg" alt="">
                            <div class="push-10-t font-w600">Tiffany Kim</div>
                            <div class="font-s13 text-muted">Photographer</div>
                        </div>
                        <div>
                            <img class="img-avatar" src="assets/img/avatars/avatar1.jpg" alt="">
                            <div class="push-10-t font-w600">Judy Alvarez</div>
                            <div class="font-s13 text-muted">Web Developer</div>
                        </div>
                    </div>
                    <!-- END Slider with Avatars -->
                </div>
            </div>
            <!-- END Avatars -->
        </div>
        <div class="col-sm-8">
            <!-- Multiple Avatars -->
            <div class="block">
                <div class="block-header">
                    <h3 class="block-title">Multiple Avatars</h3>
                </div>
                <div class="block-content">
                    <!-- Slider with Multiple Slides/Avatars -->
                    <div data-js-slider="{dots: true, arrows: true, autoplay: true, slidesToShow: 3}" class="text-center">
                        <div>
                            <img class="img-avatar" src="assets/img/avatars/avatar1.jpg" alt="">
                            <div class="push-10-t font-w600">Helen Silva</div>
                            <div class="font-s13 text-muted">Web Designer</div>
                        </div>
                        <div>
                            <img class="img-avatar" src="assets/img/avatars/avatar2.jpg" alt="">
                            <div class="push-10-t font-w600">Rebecca Gray</div>
                            <div class="font-s13 text-muted">Font Designer</div>
                        </div>
                        <div>
                            <img class="img-avatar" src="assets/img/avatars/avatar3.jpg" alt="">
                            <div class="push-10-t font-w600">Emma Cooper</div>
                            <div class="font-s13 text-muted">Artist</div>
                        </div>
                        <div>
                            <img class="img-avatar" src="assets/img/avatars/avatar4.jpg" alt="">
                            <div class="push-10-t font-w600">Evelyn Willis</div>
                            <div class="font-s13 text-muted">Graphic Designer</div>
                        </div>
                        <div>
                            <img class="img-avatar" src="assets/img/avatars/avatar5.jpg" alt="">
                            <div class="push-10-t font-w600">Linda Moore</div>
                            <div class="font-s13 text-muted">Photographer</div>
                        </div>
                        <div>
                            <img class="img-avatar" src="assets/img/avatars/avatar6.jpg" alt="">
                            <div class="push-10-t font-w600">Julia Cole</div>
                            <div class="font-s13 text-muted">Web Developer</div>
                        </div>
                    </div>
                    <!-- END Slider with Multiple Slides/Avatars -->
                </div>
            </div>
            <!-- END Multiple Avatars -->
        </div>
    </div>
    <div class="row items-push">
        <div class="col-sm-4">
            <!-- Tiles Slider 1 -->
            <div data-js-slider="{dots: true}">
                <div>
                    <div class="block text-center remove-margin-b">
                        <div class="block-content block-content-full border-b">
                            <i class="si si-social-twitter fa-5x text-info"></i>
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-gray-lighter">
                            <strong>2600</strong> Followers
                        </div>
                    </div>
                </div>
                <div>
                    <div class="block text-center remove-margin-b">
                        <div class="block-content block-content-full border-b">
                            <i class="si si-social-facebook fa-5x text-primary"></i>
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-gray-lighter">
                            <strong>6820</strong> Likes
                        </div>
                    </div>
                </div>
                <div>
                    <div class="block text-center remove-margin-b">
                        <div class="block-content block-content-full border-b">
                            <i class="si si-social-dropbox fa-5x text-primary-dark"></i>
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-gray-lighter">
                            <strong>0.8</strong>/1 TB
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Tiles Slider 1 -->
        </div>
        <div class="col-sm-4">
            <!-- Tiles Slider 2 -->
            <div data-js-slider="{dots: true, arrows: true}" class="slick-nav-hover">
                <div>
                    <div class="block text-center remove-margin-b">
                        <div class="block-content block-content-full bg-gray-lighter border-b">
                            <div class="h1 font-w700"><span class="h2 text-muted">$</span> 1.250,00</div>
                            <div class="h5 text-muted text-uppercase push-5-t">Earnings</div>
                        </div>
                        <div class="block-content block-content-full block-content-mini">
                            <i class="fa fa-arrow-up text-success"></i> +50% This week
                        </div>
                    </div>
                </div>
                <div>
                    <div class="block text-center remove-margin-b">
                        <div class="block-content block-content-full bg-gray-lighter border-b">
                            <div class="h1 font-w700">21.000</div>
                            <div class="h5 text-muted text-uppercase push-5-t">Downloads</div>
                        </div>
                        <div class="block-content block-content-full block-content-mini">
                            <i class="fa fa-arrow-down text-danger"></i> -5% This week
                        </div>
                    </div>
                </div>
                <div>
                    <div class="block text-center remove-margin-b">
                        <div class="block-content block-content-full bg-gray-lighter border-b">
                            <div class="h1 font-w700"><span class="h2 text-muted">+</span> 180</div>
                            <div class="h5 text-muted text-uppercase push-5-t">Sales</div>
                        </div>
                        <div class="block-content block-content-full block-content-mini">
                            <i class="fa fa-chevron-up text-success"></i> +5% This week
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Tiles Slider 2 -->
        </div>
        <div class="col-sm-4">
            <!-- Tiles Slider 3 -->
            <div data-js-slider="{dots: true, autoplay: true}">
                <div>
                    <div class="block text-center remove-margin-b">
                        <div class="block-content block-content-full">
                            <div class="h1 font-w700">28.600</div>
                            <div class="h5 text-muted text-uppercase push-5-t">Downloads</div>
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-danger text-white">
                            <i class="fa fa-arrow-down text-black-op"></i> -15% This week
                        </div>
                    </div>
                </div>
                <div>
                    <div class="block text-center remove-margin-b">
                        <div class="block-content block-content-full">
                            <div class="h1 font-w700"><span class="h2 text-muted">+</span> 245</div>
                            <div class="h5 text-muted text-uppercase push-5-t">Sales</div>
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-warning text-white">
                            <i class="fa fa-chevron-up text-black-op"></i> +15% This week
                        </div>
                    </div>
                </div>
                <div>
                    <div class="block text-center remove-margin-b">
                        <div class="block-content block-content-full">
                            <div class="h1 font-w700"><span class="h2 text-muted">+</span> 750</div>
                            <div class="h5 text-muted text-uppercase push-5-t">Users</div>
                        </div>
                        <div class="block-content block-content-full block-content-mini bg-primary text-white">
                            <i class="fa fa-chevron-down text-black-op"></i> -2% This week
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Tiles Slider 3 -->
        </div>
    </div>
    <!-- END Content Sliders -->

    <!-- Image Sliders -->
    <h2 class="content-heading">Image Sliders</h2>
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <!-- Dots -->
            <div class="block">
                <div class="block-header">
                    <h3 class="block-title">Dots</h3>
                </div>
                <div class="block-content">
                    <!-- Slider with dots -->
                    <div data-js-slider="{dots: true}">
                        <div>
                            <img class="img-responsive" src="assets/img/photos/photo2.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="assets/img/photos/photo3.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="assets/img/photos/photo4.jpg" alt="">
                        </div>
                    </div>
                    <!-- END Slider with dots -->
                </div>
            </div>
            <!-- END Dots -->
        </div>
        <div class="col-sm-6 col-lg-4">
            <!-- Dots and Arrows -->
            <div class="block">
                <div class="block-header">
                    <h3 class="block-title">Dots &amp; Hover Arrows</h3>
                </div>
                <div class="block-content">
                    <!-- Slider with dots and hover arrows -->
                    <div data-js-slider="{dots: true, arrows: true}" class="slick-nav-white slick-nav-hover">
                        <div>
                            <img class="img-responsive" src="assets/img/photos/photo7.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="assets/img/photos/photo8.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="assets/img/photos/photo9.jpg" alt="">
                        </div>
                    </div>
                    <!-- END Slider with dots and hover arrows -->
                </div>
            </div>
            <!-- END Dots and Arrows -->
        </div>
        <div class="col-sm-12 col-lg-4">
            <!-- Slider Autoplay -->
            <div class="block">
                <div class="block-header">
                    <h3 class="block-title">Autoplay</h3>
                </div>
                <div class="block-content">
                    <!-- Slider with autoplay -->
                    <div data-js-slider="{dots: true,autoplay: true, autoplaySpeed: 3000}">
                        <div>
                            <img class="img-responsive" src="assets/img/photos/photo10.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="assets/img/photos/photo11.jpg" alt="">
                        </div>
                        <div>
                            <img class="img-responsive" src="assets/img/photos/photo12.jpg" alt="">
                        </div>
                    </div>
                    <!-- END Slider with autoplay -->
                </div>
            </div>
            <!-- END Slider Autoplay -->
        </div>
    </div>
    <!-- END Image Sliders -->
</div>
<!-- END Page Content -->