<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Charts <small>Showcase your important data in a meaningful and empowering way.</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Components</li>
                <li><a class="link-effect" href="">Charts</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-narrow">
    <!-- Chart.js Charts (initialized in js/controllers.js -> CompChartsCtrl Controller), for more examples you can check out http://www.chartjs.org/docs/ -->
    <h2 class="content-heading">Chart.js</h2>
    <div class="row">
        <div class="col-lg-6">
            <!-- Lines Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Lines</h3>
                </div>
                <div class="block-content block-content-full text-center">
                    <!-- Lines Chart Container -->
                    <div style="height: 330px;"><canvas class="js-chartjs-lines"></canvas></div>
                </div>
            </div>
            <!-- END Lines Chart -->
        </div>
        <div class="col-lg-6">
            <!-- Bars Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Bars</h3>
                </div>
                <div class="block-content block-content-full text-center">
                    <!-- Bars Chart Container -->
                    <div style="height: 330px;"><canvas class="js-chartjs-bars"></canvas></div>
                </div>
            </div>
            <!-- END Bars Chart -->
        </div>
        <div class="col-lg-12">
            <!-- Radar Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Radar</h3>
                </div>
                <div class="block-content block-content-full text-center">
                    <!-- Radar Chart Container -->
                    <div style="height: 330px;"><canvas class="js-chartjs-radar"></canvas></div>
                </div>
            </div>
            <!-- END Radar Chart -->
        </div>
    </div>
    <!-- END Chart.js Charts -->

    <!-- Jquery Sparkline (initialized in js/controllers.js -> CompChartsCtrl Controller), for more examples you can check out http://omnipotent.net/jquery.sparkline/#s-about -->
    <h2 class="content-heading">Sparkline</h2>
    <div class="row">
        <div class="col-lg-6">
            <!-- Bars -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Bars</h3>
                </div>
                <div class="block-content">
                    <div class="row items-push-2x text-center">
                        <div class="col-xs-6 col-sm-4">
                            <!-- Sparkline Bar 1 Container -->
                            <span class="js-slc-bar1">4,3,2,4,5,7,8,4</span>
                            <div class="push-10-t"><i class="fa fa-ticket text-muted"></i> Tickets</div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <!-- Sparkline Bar 2 Container -->
                            <span class="js-slc-bar2">980,1210,1350,900,500,700,1500,1485</span>
                            <div class="push-10-t"><i class="fa fa-line-chart text-muted"></i> Earnings</div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <!-- Sparkline Bar 3 Container -->
                            <span class="js-slc-bar3">8,11,9,8,7,5,10,12</span>
                            <div class="push-10-t"><i class="fa fa-suitcase text-muted"></i> Sales</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Bars -->
        </div>
        <div class="col-lg-6">
            <!-- Lines -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Lines</h3>
                </div>
                <div class="block-content">
                    <div class="row items-push-2x text-center">
                        <div class="col-xs-6 col-sm-4">
                            <!-- Sparkline Line 1 Container -->
                            <span class="js-slc-line1">4,3,2,4,5,7,8,4</span>
                            <div class="push-10-t"><i class="fa fa-ticket text-muted"></i> Tickets</div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <!-- Sparkline Line 2 Container -->
                            <span class="js-slc-line2">980,1210,1350,900,500,700,1500,1485</span>
                            <div class="push-10-t"><i class="fa fa-line-chart text-muted"></i> Earnings</div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <!-- Sparkline Line 3 Container -->
                            <span class="js-slc-line3">8,11,9,8,7,5,10,12</span>
                            <div class="push-10-t"><i class="fa fa-suitcase text-muted"></i> Sales</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Lines -->
        </div>
        <div class="col-lg-6">
            <!-- Pie -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Pie</h3>
                </div>
                <div class="block-content">
                    <div class="row items-push-2x text-center">
                        <div class="col-xs-6 col-sm-4">
                            <!-- Sparkline Pie 1 Container -->
                            <span class="js-slc-pie1">4,3,2,4</span>
                            <div class="push-10-t"><i class="fa fa-ticket text-muted"></i> Tickets</div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <!-- Sparkline Pie 2 Container -->
                            <span class="js-slc-pie2">980,1210,1350,900</span>
                            <div class="push-10-t"><i class="fa fa-line-chart text-muted"></i> Earnings</div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <!-- Sparkline Pie 3 Container -->
                            <span class="js-slc-pie3">8,11,9,8</span>
                            <div class="push-10-t"><i class="fa fa-suitcase text-muted"></i> Sales</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Pie -->
        </div>
        <div class="col-lg-6">
            <!-- Tristate -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Tristate</h3>
                </div>
                <div class="block-content">
                    <div class="row items-push-2x text-center">
                        <div class="col-xs-6 col-sm-4">
                            <!-- Sparkline Tristate 1 Container -->
                            <span class="js-slc-tristate1">-1,1,0,1,1,-1,0,1</span>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <!-- Sparkline Tristate 2 Container -->
                            <span class="js-slc-tristate2">1,1,0,1,-1,-1,1,-1</span>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <!-- Sparkline Tristate 3 Container -->
                            <span class="js-slc-tristate3">1,-1,0,-1,-1,0,0,1</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Tristate -->
        </div>
    </div>
    <!-- END Sparkline Charts -->

    <!-- Easy Pie Chart (data-js-pie-chart attribute is initialized in js/directives.js) -->
    <!-- For more info and examples you can check out http://rendro.github.io/easy-pie-chart/ -->
    <!-- Randomize Values Buttons functionality is initialized in js/controllers.js -> CompChartsCtrl Controller -->
    <h2 class="content-heading">Easy Pie Chart</h2>
    <div class="row">
        <div class="col-lg-6">
            <!-- Simple -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button class="js-pie-randomize" type="button" data-uib-tooltip="Randomize"><i class="fa fa-random"></i></button>
                        </li>
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Simple</h3>
                </div>
                <div class="block-content">
                    <div class="row items-push-2x text-center">
                        <div class="col-xs-6 col-sm-4">
                            <!-- Pie Chart Container -->
                            <div class="pie-chart" data-js-pie-chart="{lineWidth: 3, size: 100, barColor: '#abe37d', trackColor: '#eeeeee', scaleColor: '#dddddd'}" data-percent="80">
                                <span>8 <br><small class="text-muted">/100</small></span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <!-- Pie Chart Container -->
                            <div class="pie-chart" data-js-pie-chart="{lineWidth: 3, size: 100, barColor: '#fadb7d', trackColor: '#eeeeee', scaleColor: '#dddddd'}" data-percent="45">
                                <span>45%</span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <!-- Pie Chart Container -->
                            <div class="pie-chart" data-js-pie-chart="{lineWidth: 3, size: 100, barColor: '#faad7d', trackColor: '#eeeeee', scaleColor: '#dddddd'}" data-percent="25">
                                <span>25.00 <br><small class="text-muted">/100mb</small></span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <!-- Pie Chart Container -->
                            <div class="pie-chart" data-js-pie-chart="{lineWidth: 3, size: 100, barColor: '#abe37d', trackColor: '#eeeeee'}" data-percent="80">
                                <span>8 <br><small class="text-muted">/100</small></span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <!-- Pie Chart Container -->
                            <div class="pie-chart" data-js-pie-chart="{lineWidth: 3, size: 100, barColor: '#faad7d', trackColor: '#eeeeee'}" data-percent="45">
                                <span>45%</span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <!-- Pie Chart Container -->
                            <div class="pie-chart" data-js-pie-chart="{lineWidth: 3, size: 100, barColor: '#faad7d', trackColor: '#eeeeee'}" data-percent="25">
                                <span>25.00 <br><small class="text-muted">/100mb</small></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Simple -->
        </div>
        <div class="col-lg-6">
            <!-- Avatar -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button class="js-pie-randomize" type="button" data-uib-tooltip="Randomize"><i class="fa fa-random"></i></button>
                        </li>
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Avatar</h3>
                </div>
                <div class="block-content">
                    <div class="row items-push-2x text-center">
                        <div class="col-xs-6 col-sm-4">
                            <!-- Pie Chart Container -->
                            <div class="pie-chart" data-js-pie-chart="{lineWidth: 3, size: 100, barColor: '#abe37d', trackColor: '#eeeeee'}" data-percent="80">
                                <span>
                                    <img class="img-avatar" src="assets/img/avatars/avatar2.jpg" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <!-- Pie Chart Container -->
                            <div class="pie-chart" data-js-pie-chart="{lineWidth: 3, size: 100, barColor: '#fadb7d', trackColor: '#eeeeee'}" data-percent="45">
                                <span>
                                    <img class="img-avatar" src="assets/img/avatars/avatar8.jpg" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <!-- Pie Chart Container -->
                            <div class="pie-chart" data-js-pie-chart="{lineWidth: 3, size: 100, barColor: '#faad7d', trackColor: '#eeeeee'}" data-percent="25">
                                <span>
                                    <img class="img-avatar" src="assets/img/avatars/avatar10.jpg" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <!-- Pie Chart Container -->
                            <div class="pie-chart" data-js-pie-chart="{lineWidth: 3, size: 100, barColor: '#abe37d', trackColor: '#eeeeee'}" data-percent="80">
                                <span>
                                    <img class="img-avatar" src="assets/img/avatars/avatar8.jpg" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <!-- Pie Chart Container -->
                            <div class="pie-chart" data-js-pie-chart="{lineWidth: 3, size: 100, barColor: '#fadb7d', trackColor: '#eeeeee'}" data-percent="45">
                                <span>
                                    <img class="img-avatar" src="assets/img/avatars/avatar7.jpg" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <!-- Pie Chart Container -->
                            <div class="pie-chart" data-js-pie-chart="{lineWidth: 3, size: 100, barColor: '#faad7d', trackColor: '#eeeeee'}" data-percent="25">
                                <span>
                                    <img class="img-avatar" src="assets/img/avatars/avatar16.jpg" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Avatar -->
        </div>
    </div>
    <!-- END Easy Pie Chart -->

    <!-- Flot Charts (initialized in js/controllers.js -> CompChartsCtrl Controller), for more examples you can check out http://www.flotcharts.org/flot/examples -->
    <h2 class="content-heading">Flot Charts</h2>
    <div class="row">
        <div class="col-lg-6">
            <!-- Lines Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Lines</h3>
                </div>
                <div class="block-content block-content-full">
                    <!-- Lines Chart Container -->
                    <div class="js-flot-lines" style="height: 330px;"></div>
                </div>
            </div>
            <!-- END Lines Chart -->
        </div>
        <div class="col-lg-6">
            <!-- Stacked Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Stacked</h3>
                </div>
                <div class="block-content block-content-full">
                    <!-- Stacked Chart Container -->
                    <div class="js-flot-stacked" style="height: 330px;"></div>
                </div>
            </div>
            <!-- END Stacked Chart -->
        </div>
        <div class="col-lg-12">
            <!-- Live Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <span class="js-flot-live-info text-info font-w700"></span>
                        </li>
                        <li>
                            <span><i class="fa fa-refresh fa-spin text-muted"></i></span>
                        </li>
                    </ul>
                    <h3 class="block-title">Live</h3>
                </div>
                <div class="block-content block-content-full">
                    <!-- Live Chart Container -->
                    <div class="js-flot-live" style="height: 360px;"></div>
                </div>
            </div>
            <!-- END Live Chart -->
        </div>
        <div class="col-lg-6">
            <!-- Bars Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Bars</h3>
                </div>
                <div class="block-content block-content-full">
                    <!-- Bars Chart Container -->
                    <div class="js-flot-bars" style="height: 330px;"></div>
                </div>
            </div>
            <!-- END Bars Chart -->
        </div>
        <div class="col-lg-6">
            <!-- Pie Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Pie</h3>
                </div>
                <div class="block-content block-content-full">
                    <!-- Pie Chart Container -->
                    <div class="js-flot-pie" style="height: 330px;"></div>
                </div>
            </div>
            <!-- END Pie Chart -->
        </div>
    </div>
    <!-- END Flot Charts -->
</div>
<!-- END Page Content -->