<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                Simple Gallery <small>Clean and easy way to showcase your images. Powered by Magnific plugin.</small>
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Components</li>
                <li>Gallery</li>
                <li><a class="link-effect" href="">Simple</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
    <!-- Gallery (data-js-magnific atrribute is initialized in js/directives.js) -->
    <!-- For more info and examples you can check out http://dimsemenov.com/plugins/magnific-popup/ -->
    <div class="row items-push" data-js-magnific>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo2@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo2.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo3@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo3.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo4@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo4.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo5@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo5.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo6@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo6.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo7@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo7.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo8@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo8.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo9@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo9.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo10@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo10.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo11@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo11.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo12@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo12.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo13@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo13.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo14@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo14.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo15@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo15.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo16@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo16.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <a class="img-link img-thumb" href="assets/img/photos/photo17@2x.jpg">
                <img class="img-responsive" src="assets/img/photos/photo17.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- END Gallery -->
</div>
<!-- END Page Content -->