<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                Advanced Gallery <small>More power over your galleries with custom animations and controls.</small>
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Components</li>
                <li>Gallery</li>
                <li><a class="link-effect" href="">Advanced</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
    <!-- Gallery (data-js-magnific atrribute is initialized in js/directives.js) -->
    <!-- For more info and examples you can check out http://dimsemenov.com/plugins/magnific-popup/ -->
    <div class="row items-push" data-js-magnific="{advancedGallery: true}">
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo17.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo17@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo16.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo16@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo15.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo15@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo14.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo14@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo13.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo13@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo12.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo12@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo11.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo11@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo10.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo10@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo9.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo9@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo8.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo8@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo7.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo7@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo6.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo6@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo5.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo5@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo4.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo4@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo3.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo3@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 animated fadeIn">
            <div class="img-container fx-img-rotate-r">
                <img class="img-responsive" src="assets/img/photos/photo2.jpg" alt="">
                <div class="img-options">
                    <div class="img-options-content">
                        <h3 class="font-w400 text-white push-5">Image Caption</h3>
                        <h4 class="h6 font-w400 text-white-op push-15">Some Extra Info</h4>
                        <a class="btn btn-sm btn-default img-lightbox" href="assets/img/photos/photo2@2x.jpg">
                            <i class="fa fa-search-plus"></i> View
                        </a>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-default" href="javascript:void(0)"><i class="fa fa-times"></i> Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Gallery -->
</div>
<!-- END Page Content -->