<!-- Page Content -->
<div class="content text-center">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 animated fadeIn">
            <a class="h5 text-white" data-ui-sref="dashboard" data-js-blur>
                <i class="hidden fa fa-circle-o-notch text-primary"></i>
								<img src="/assets/img/various/sensor-dx-logo.png" />
								<span class="h4 font-w600 sidebar-mini-hide text-primary">Sensor</span>
								<span class="h4 font-w600 sidebar-mini-hide">DX</span>
            </a>
            <div class="h1 font-w300 text-black push-30-t push-50">DOCUMENTATION</div>
        </div>
    </div>
</div>
<div class="content bg-white">
    <div class="row push-30-t push-30">
        <div class="col-md-6 col-md-offset-3">
						<p>SensorDX is an open-source standard-compliant software system that implements novel machine learning methods for automated quality control (QC) of hydro-meteorological sensor network data.</p>
						<p>The goal of this project is to achieve a much higher degree of automated QC to permit a smaller number of experts to manage a much larger number of sensors.</p>
            <p>Throughout this documentation, we have highlighted our powerful and robust API behind the SensorDX Dashboard (SDD), the SensorDX Issue Tracker (SDI), and SensorDX Sensor Management System (SMS).</p>
						<p>Also, we went out of our way to give you an overview of the powerful and ultimate SensorDX algorithm that makes automated quality control possible. Who would have thought managing millions of sensors could be this fun? You're welcome :-)</p>
        </div>
    </div>
</div>
<div class="content text-center">
    <p>
        <a class="btn btn-lg btn-minw btn-primary" target="_blank" href="/api/documentation" >Get Started! <i class="fa fa-fw fa-arrow-right push-5-l"></i></a>
    </p>
</div>
<!-- END Page Content -->
