<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Manage Stations </br>
								<small>Add, Subtract, Multiply Stations. Let's hope you remember your times table.</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Stations</li>
                <li>Manage</li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
		<div style="text-align: right; margin-bottom: 20px;">
        <md-button class="md-fab md-primary md-raised" ng-click="showTabDialog($event)" aria-label="Add Station">
					<md-tooltip md-direction="left">Add Station</md-tooltip>
					<i class="fa fa-plus" aria-hidden="true"></i>
        </md-button>
		</div>

    <!-- Dynamic Stations Table -->
    <div class="block">
        <div class="hidden block-header">
            <h3 class="block-title">Dynamic Table <small>Full</small></h3>
        </div>
        <div class="block-content">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/controllers.js -> ManageStationsCtrl Controller-->
						<!-- <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt"> -->
            <table class="table table-bordered table-striped js-dataTable-full" width="100%" class="display" cellspacing="0">
                <thead>
                    <tr> 
                        <th>Station Code</th>
                        <th>Location</th>
                        <th class="hidden-xs">Manager</th>
                        <th class="hidden-xs" style="width: 15%;"># of Sensors</th>
                        <th class="hidden-xs" style="width: 15%;"># of Open Issues</th>
                        <th class="text-center" style="width: 10%;">Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- END Dynamic Stations Table -->
</div>
<!-- END Page Content -->
