<style>
.cursor {
	cursor: pointer;
}
.cursor :hover {
	color: #5c90d2;
}

</style>
<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Map your Api with Ours <br />
								<small>If A = B and B = C then A = C</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Api</li>
                <li>Mapper</li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
		<!-- For more info and examples you can check out http://rendro.github.io/easy-pie-chart/ -->
		<div class="row">
				<div class="col-lg-4">
						<div class="block block-themed">
								<div class="block-header bg-primary">
										<ul class="block-options">
												<li>
														<button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
												</li>
										</ul>
										<h3 class="block-title">Issues</h3>
								</div>
								<div class="block-content block-content-full text-center">
										<!-- Pie Chart Container -->
										<div class="ijs=pie=chart pie-chart" data-js-pie-chart="{lineWidth: 3, size: 200, barColor: '#eeeeee', trackColor: '#eeeeee'}" data-percent="80">
												<span class="h4"><i class="si si-speedometer fa-3x text-gray"></i></span>
										</div>
								</div>
								<div class="block-content bg-gray-lighter">
										<div class="row items-push text-center">
												<div class="col-xs-6">
														<div class="cursor push-5" ng-click="showJSON('issues')"><i class="si si-eye fa-2x"></i></div>
												</div>
												<div class="col-xs-6">
														<div class="cursor push-5" ng-click="showSettings('issues')"><i class="si si-settings fa-2x"></i></div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<div class="col-lg-4">
						<div class="block block-themed">
								<div class="block-header bg-primary">
										<ul class="block-options">
												<li>
														<button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
												</li>
										</ul>
										<h3 class="block-title">Stations</h3>
								</div>
								<div class="block-content block-content-full text-center">
										<!-- Pie Chart Container -->
										<div class="ijs=pie=chart pie-chart" data-js-pie-chart="{lineWidth: 3, size: 200, barColor: '#eeeeee', trackColor: '#eeeeee'}" data-percent="80">
												<span class="h4"><i class="si si-rocket fa-3x text-gray"></i></span>
										</div>
								</div>
								<div class="block-content bg-gray-lighter">
										<div class="row items-push text-center">
												<div class="col-xs-6">
														<div class="cursor push-5" ng-click="showJSON('stations')"><i class="si si-eye fa-2x"></i></div>
												</div>
												<div class="col-xs-6">
														<div class="cursor push-5" ng-click="showSettings('stations')"><i class="si si-settings fa-2x"></i></div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<div class="col-lg-4">
						<div class="block block-themed">
								<div class="block-header bg-primary">
										<ul class="block-options">
												<li>
														<button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
												</li>
										</ul>
										<h3 class="block-title">Labels</h3>
								</div>
								<div class="block-content block-content-full text-center">
										<!-- Pie Chart Container -->
										<div class="ijs=pie=chart pie-chart" data-js-pie-chart="{lineWidth: 3, size: 200, barColor: '#eeeeee', trackColor: '#eeeeee'}" data-percent="80">
												<span class="h4"><i class="si si-tag fa-3x text-gray"></i></span>
										</div>
								</div>
								<div class="block-content bg-gray-lighter">
										<div class="row items-push text-center">
												<div class="col-xs-6">
														<div class="cursor push-5" ng-click="showJSON('labels')"><i class="si si-eye fa-2x"></i></div>
												</div>
												<div class="col-xs-6">
														<div class="cursor push-5" ng-click="showSettings('labels')"><i class="si si-settings fa-2x"></i></div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<div class="col-lg-4">
						<div class="block block-themed">
								<div class="block-header bg-primary">
										<ul class="block-options">
												<li>
														<button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
												</li>
										</ul>
										<h3 class="block-title">Users</h3>
								</div>
								<div class="block-content block-content-full text-center">
										<!-- Pie Chart Container -->
										<div class="ijs=pie=chart pie-chart" data-js-pie-chart="{lineWidth: 3, size: 200, barColor: '#eeeeee', trackColor: '#eeeeee'}" data-percent="80">
												<span class="h4"><i class="si si-user fa-3x text-gray"></i></span>
										</div>
								</div>
								<div class="block-content bg-gray-lighter">
										<div class="row items-push text-center">
												<div class="col-xs-6">
														<div class="cursor push-5" ng-click="showJSON('users')"><i class="si si-eye fa-2x"></i></div>
												</div>
												<div class="col-xs-6">
														<div class="cursor push-5" ng-click="showSettings('users')"><i class="si si-settings fa-2x"></i></div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<div class="col-lg-4">
						<div class="block block-themed">
								<div class="block-header bg-primary">
										<ul class="block-options">
												<li>
														<button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
												</li>
										</ul>
										<h3 class="block-title">Emails</h3>
								</div>
								<div class="block-content block-content-full text-center">
										<!-- Pie Chart Container -->
										<div class="ijs=pie=chart pie-chart" data-js-pie-chart="{lineWidth: 3, size: 200, barColor: '#eeeeee', trackColor: '#eeeeee'}" data-percent="80">
												<span class="h4"><i class="si si-paper-plane fa-3x text-gray"></i></span>
										</div>
								</div>
								<div class="block-content bg-gray-lighter">
										<div class="row items-push text-center">
												<div class="col-xs-6">
														<div class="cursor push-5" ng-click="showJSON('emails')"><i class="si si-eye fa-2x"></i></div>
												</div>
												<div class="col-xs-6">
														<div class="cursor push-5" ng-click="showSettings('emails')"><i class="si si-settings fa-2x"></i></div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
