<style>
md-dialog {
	min-width: 50%;
}
md-content {
	background-color: white;
}
</style>
<md-dialog width="50%" aria-label="Mapper">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}} Mapper</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
		<md-content class="md-padding">
			<section layout="row">
				<md-input-container class="md-block" flex-gt-xs>
					<label>URL ENDPOINT</label>
					<input required md-no-asterisk name="url" ng-model="url">
				</md-input-container>
				<md-input-container class="md-block">
					<md-button class="md-raised" ng-click="fetch(url)">Fetch</md-button>
				</md-input-container>
			</section>
			<table ng-if="!hidden" class="table table-bordered table-striped">
					<thead>
							<tr>
									<th class="text-center hidden-xs">Your Response</th>
									<th class="text-center hidden-xs">SensorDX Response</th>
							</tr>
					</thead>
					<tbody>
							<tr ng-repeat="field in jsonObj">
									<td ng-if="field != 'None'" class="text-center hidden-xs">
										<md-input-container class="md-block" flex-gt-sm>
											<md-select ng-model="mapper[type][field]" required>
												<md-option ng-repeat="(key, value) in user_api" value="{{value}}">
													{{value}}
												</md-option>
											</md-select>
										</md-input-container>
									</td>
									<td ng-if="field != 'None'" class="text-center hidden-xs" style="vertical-align: middle">{{field}}</td>
							</tr>
					</tbody>
			</table>
		</md-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" >
        Cancel
      </md-button>
      <md-button ng-click="setup()" style="margin-right:20px;" >
        Set up
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
