<style>
.leaflet-container {                                                                                                                                 
	  height: 480px;
}
.bootstrap-select {
	float: left !important;
}
.popover-title {
	text-align: center !important;
}
.bootstrap-select button {
	background: white !important;
	border: #a29e9e !important;
	color: #646464 !important;
	font-weight: 500 !important;
}
</style>
<!-- Page Content -->
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <!-- Main Dashboard Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="hidden block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">New Issue</h3>
                </div>
                <div class="block-content block-content-full bg-gray-lighter text-center">
                    <!-- Leaflet.js Leaflet (is initialized in js/controllers.js -> 'DashboardCtrl' Controller), -->
										<!-- for more examples you can check out http://angular-ui.github.io/ui-leaflet/examples/0000-viewer.html#/basic/first-example -->
										<form class="form-horizontal">
											<div class="form-group">
												<label class="control-label col-sm-2" for="title" style="float: left">Title:</label>
												<div class="col-sm-10">
													<input type="text" class="form-control" id="title">
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-2" for="description" style="float: left">Description:</label>
												<div class="col-sm-10"> 
													<textarea class="form-control" rows="10" id="description" placeholder="Please describe the problem in details here"></textarea>
												</div>
											</div>
											<hr />
											<div class="form-group">
												<label class="control-label col-sm-2" for="assignee" style="float: left">Assignee:</label>
												<div class="col-sm-4">
													<select style="float: left" class="selectpicker" data-header="Select assignee" data-live-search="true">
														<option>Unassigned</option>
													 	<option data-divider="true"></option>
														<option>Rene Midouin</option>
														<option>Ronald Lawyer</option>
														<option>Ali Mustafa</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-2" for="labels" style="float: left">Labels:</label>
												<div class="col-sm-4">
													<select style="float: left" class="selectpicker" multiple data-header="Select label" data-live-search="true">
														<optgroup data-max-options="1">
															<option>No Label</option>
														</optgroup>
														<optgroup data-max-options="3">
															<option>bug</option>
															<option>sensor failure</option>
															<option>question</option>
															<option>won't fix</option>
														</optgroup>
														<optgroup data-max-options="3">
															<option>Create new label</option>
														</optgroup>
													</select>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-sm-2" for="priorities" style="float: left">Priority:</label>
												<div class="col-sm-4">
													<select style="float: left" class="selectpicker" data-header="Select assignee" data-live-search="true">
														<option>No priority</option>
													 	<option data-divider="true"></option>
														<option>urgent</option>
														<option>not-urgent</option>
														<option>could-be-delayed</option>
													</select>
												</div>
											</div>
											<div class="form-group"> 
												<div class="col-sm-offset-2 col-sm-10">
													<button type="submit" class="btn btn-default">Submit</button>
												</div>
											</div>
										</form>
								</div>
						</div>
				</div>
    </div>
</div>
<!-- END Page Content -->
<script>
$(document).ready(function() {
  $('.selectpicker').selectpicker({
    style: 'btn-info',
    size: 4
  });
});
</script>
