<!-- Page Content -->
<div class="content text-center">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 animated fadeIn">
            <img class="push-50-t" src="assets/img/various/angularjs_logo.png" srcset="assets/img/various/angularjs_logo@2x.png 2x" alt="AngularJS Logo">
            <div class="h1 font-w300 text-black push-30-t push-50">OneUI’s AngularJS version is here!</div>
        </div>
    </div>
</div>
<div class="content bg-white">
    <div class="row push-30-t push-30">
        <div class="col-md-6 col-md-offset-3">
            <p>This version uses the exact same CSS files the HTML/PHP versions are using, so any markup from the example pages of those versions can be used in this one. All ready pages which are not presented here will look great, so no worries!</p>
            <p>OneUI's core JS functionality was rewritten and adjusted to play nice with AngularJS and some new features were introduced including lazy loading and localStorage support for saving your app’s active layout/theme. Also, Grunt’s build task was enchanced for this version and will now build your whole app and prepare it for production environments.</p>
            <p>AngularJS directives were created (replacing almost all classic JS helpers from HTML/PHP versions) to assist when initializing jQuery plugins or custom functionality. Furthermore, generic examples are also provided for showcasing a way of using more complex jQuery plugins which require custom code/data to initialize.</p>
        </div>
    </div>
</div>
<div class="content text-center">
    <p>
        <a class="btn btn-lg btn-minw btn-primary" data-ui-sref="dashboard">Get Started! <i class="fa fa-fw fa-arrow-right push-5-l"></i></a>
    </p>
    <p class="text-center">
        Crafted with <i class="fa fa-heart text-city"></i> by <a class="font-w600" href="http://goo.gl/vNS3I" target="_blank">pixelcave</a>
    </p>
</div>
<!-- END Page Content -->