<style>
.leaflet-container {                                                                                                                                 
	  height: 480px;
}
</style>
<!-- Page Header -->
<div class="content bg-image overflow-hidden" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
    <div class="push-50-t push-15">
        <h1 class="h2 text-white animated zoomIn">Dashboard</h1>
        <h2 class="h5 text-white-op animated zoomIn">Welcome Administrator</h2>
    </div>
</div>
<!-- END Page Header -->

<!-- Stats -->
<div class="hidden content bg-white border-b">
    <div class="row items-push text-uppercase">
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Product Sales</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Today</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">300</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Product Sales</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> This Month</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">8,790</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Total Earnings</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">$ 93,880</a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="font-w700 text-gray-darker animated fadeIn">Average Sale</div>
            <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> All Time</small></div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">$ 270</a>
        </div>
    </div>
</div>
<!-- END Stats -->

<!-- Page Content -->
<div class="content">
    <div class="row">
        <div class="col-lg-8">
            <!-- Main Dashboard Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="hidden block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Stations Map</h3>
                </div>
                <div class="block-content block-content-full bg-gray-lighter text-center">
                    <!-- Leaflet.js Leaflet (is initialized in js/controllers.js -> 'DashboardCtrl' Controller), -->
										<!-- for more examples you can check out http://angular-ui.github.io/ui-leaflet/examples/0000-viewer.html#/basic/first-example -->
										<div ng-app="app" ng-controller="leaflet" leaflet></div>
										<!-- <leaflet width="100%" height="480px" defaults="defaults" geojson="geojson"></leaflet>-->
								</div>
						</div>
				</div>
        <div class="col-md-4">
						<div style="max-height: 570px; overflow-y: scroll;" class="bg-gray-lighter">
								<table class="stations-list table table-hover block" data-js-table-checkable>
										<thead class="block-header">
												<tr style="position: absolute; left: 15px; right: 15px; z-index: 999; background-color: white; border-bottom: 1px solid #ddd;">
														<th class="text-center hidden " style="width: 50px; border: none;">
																<label class="css-input css-checkbox css-checkbox-primary remove-margin-t remove-margin-b">
																		<input type="checkbox" id="check-all" name="check-all"><span></span>
																</label>
														</th>
														<th style="border: none;">Stations List</th>
														<th style="border: none;"></th>
												</tr>
										</thead>
										<tbody class="block-content bg-gray-lighter">
												<tr ng-repeat="property in properties">
														<td class="hidden text-center">
																<label class="css-input css-checkbox css-checkbox-primary">
																		<input type="checkbox" id="row_1" name="row_1"><span></span>
																</label>
														</td>
														<td>
																<p class="font-w600 push-10">{{property['Station ID']}}</p>
																<p class="text-muted remove-margin-b">{{property['Site name']}}, {{property['Country']}} -- {{property['Station site type']}}</p>
														</td>
														<td class="middle text-center">
																<i class="fa fa-circle" style="color: {{sensorstate(property['Station status'])}}" aria-hidden="true"></i>
														</td>
												</tr>
										</tbody>
								</table>
						</div>
        </div>
        <div class="col-lg-8">
            <!-- Main Dashboard Chart -->
            <div class="block">
                <div class="block-header">
                    <ul class="hidden block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
										<div class="form-group">
												<div class="col-md-7">
													<h3 class="block-title">Temperature</h3>
												</div>
												<div class="col-md-5">
														<div data-js-datepicker class="input-daterange input-group" data-date-format="mm/dd/yyyy">
																<input class="form-control" type="text" id="example-daterange1" name="example-daterange1" placeholder="From">
																<span class="input-group-addon"><i class="fa fa-chevron-right"></i></span>
																<input class="form-control" type="text" id="example-daterange2" name="example-daterange2" placeholder="To">
														</div>
												</div>
										</div>
                </div>
                <div class="block-content block-content-full bg-gray-lighter text-center">
                    <!-- Chart.js Chart (.js-dash-chartjs-lines is initialized in js/controllers.js -> 'DashboardCtrl' Controller), for more examples you can check out http://www.chartjs.org/docs/ -->
                    <!-- <div style="height: 374px;"> -->
										<div class="col-xs-12">
												<!-- <highchart id="chart1" config="chartConfig"></highchart> -->
										</div>
                </div>
                <div class="block-content text-center hidden">
                    <div class="row items-push text-center">
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><img src="/assets/img/sensors/temperature.svg" height="30" width="20" alt="Temperature"></div>
                            <div class="h5 font-w300 text-muted">Temperature</div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><img src="/assets/img/sensors/relative_humidity.svg" height="30" width="30" alt="Relative Humidity"></div>
                            <div class="h5 font-w300 text-muted">Relative Humidity</div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><img src="/assets/img/sensors/pressure.svg" height="30" width="30" alt="Pressure Gauge"></div>
                            <div class="h5 font-w300 text-muted">Pressure</div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><img src="/assets/img/sensors/precipitation.svg" height="30" width="30" alt="Precipitation"></div>
                            <div class="h5 font-w300 text-muted">Precipitation</div>
                        </div>
                        <div class="col-xs-6 col-lg-3 hidden">
                            <div class="push-10"><img src="/assets/img/sensors/radiation.svg" height="30" width="30" alt="Radiation"></div>
                            <div class="h5 font-w300 text-muted">Radiation</div>
                        </div>
                        <div class="col-xs-6 col-lg-3 hidden">
                            <div class="push-10"><img src="/assets/img/sensors/wind.svg" height="30" width="30" alt="Wind"></div>
                            <div class="h5 font-w300 text-muted">Wind</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Main Dashboard Chart -->
        </div>
        <div class="col-md-4">
            <div class="block">
                <div class="block-header">
                    <h3 class="block-title">Sensor Types</h3>
                </div>
                <div class="block-content block-content-full bg-gray-lighter text-center">
										<table class="sensor-types table">
												<tbody>
														<tr class="text-left">
																<td class="middle">
                            				<div><img src="/assets/img/sensors/temperature.svg" height="30" width="20" alt="Temperature"></div>
																</td>
																<td class="middle">
                            				<div class="h5 font-w300 text-muted">Temperature</div>
																</td>
																<td class="middle">
                            				<div class="h5 font-w300 text-muted">---</div>
																</td>
														</tr>
														<tr class="text-left">
																<td class="middle">
																		<div><img src="/assets/img/sensors/relative_humidity.svg" height="30" width="30" alt="Relative Humidity"></div>
																</td>
																<td class="middle">
																		<div class="h5 font-w300 text-muted">Relative Humidity</div>
																</td>
																<td class="middle">
                            				<div class="h5 font-w300 text-muted">---</div>
																</td>
														</tr>
														<tr class="text-left">
																<td class="middle">
                            				<div><img src="/assets/img/sensors/pressure.svg" height="30" width="30" alt="Pressure Gauge"></div>
																</td>
																<td class="middle">
                            				<div class="h5 font-w300 text-muted">Pressure</div>
																</td>
																<td class="middle">
                            				<div class="h5 font-w300 text-muted">---</div>
																</td>
														</tr>
														<tr class="text-left">
																<td class="middle">
                            				<div><img src="/assets/img/sensors/precipitation.svg" height="30" width="30" alt="Precipitation"></div>
																</td>
																<td class="middle">
                            				<div class="h5 font-w300 text-muted">Precipitation</div>
																</td>
																<td class="middle">
                            				<div class="h5 font-w300 text-muted">---</div>
																</td>
														</tr>
														<tr class="text-left">
																<td class="middle">
                            				<div><img src="/assets/img/sensors/radiation.svg" height="30" width="30" alt="Radiation"></div>
																</td>
																<td class="middle">
                            				<div class="h5 font-w300 text-muted">Radiation</div>
																</td>
																<td class="middle">
                            				<div class="h5 font-w300 text-muted">---</div>
																</td>
														</tr>
														<tr class="text-left">
																<td class="middle">
                            				<div><img src="/assets/img/sensors/wind.svg" height="30" width="30" alt="Wind"></div>
																</td>
																<td class="middle">
                            				<div class="h5 font-w300 text-muted">Wind</div>
																</td>
																<td class="middle">
                            				<div class="h5 font-w300 text-muted">---</div>
																</td>
														</tr>
												</tbody>
										</table>
								</div>
						</div>
        </div>
        <div class="hidden col-lg-4">
            <!-- Latest Sales Widget -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Latest Sales</h3>
                </div>
                <div class="block-content bg-gray-lighter">
                    <div class="row items-push">
                        <div class="col-xs-4">
                            <div class="text-muted"><small><i class="si si-calendar"></i> 24 hrs</small></div>
                            <div class="font-w600">18 Sales</div>
                        </div>
                        <div class="col-xs-4">
                            <div class="text-muted"><small><i class="si si-calendar"></i> 7 days</small></div>
                            <div class="font-w600">78 Sales</div>
                        </div>
                        <div class="col-xs-4 h1 font-w300 text-right">$769</div>
                    </div>
                </div>
                <div class="block-content">
                    <div class="pull-t pull-r-l">
                        <!-- Slick slider (data-js-slider attribute is initialized in js/directives.js) -->
                        <!-- For more info and examples you can check out http://kenwheeler.github.io/slick/ -->
                        <div class="js-slider remove-margin-b" data-js-slider>
                            <div>
                                <table class="table remove-margin-b font-s13">
                                    <tbody>
                                        <tr>
                                            <td class="font-w600">
                                                <a href="javascript:void(0)">Admin Template</a>
                                            </td>
                                            <td class="hidden-xs text-muted text-right" style="width: 70px;">23:01</td>
                                            <td class="font-w600 text-success text-right" style="width: 70px;">+ $21</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">WP Theme</a></td>
                                            <td class="hidden-xs text-muted text-right">22:15</td>
                                            <td class="font-w600 text-success text-right">+ $52</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">HTML Template</a></td>
                                            <td class="hidden-xs text-muted text-right">22:01</td>
                                            <td class="font-w600 text-success text-right">+ $16</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">Admin Template</a></td>
                                            <td class="hidden-xs text-muted text-right">21:45</td>
                                            <td class="font-w600 text-success text-right">+ $23</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">WP Theme</a></td>
                                            <td class="hidden-xs text-muted text-right">21:15</td>
                                            <td class="font-w600 text-success text-right">+ $48</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">Admin Template</a></td>
                                            <td class="hidden-xs text-muted text-right">20:11</td>
                                            <td class="font-w600 text-success text-right">+ $23</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">WP Theme</a></td>
                                            <td class="hidden-xs text-muted text-right">20:01</td>
                                            <td class="font-w600 text-success text-right">+ $50</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">HTML Template</a></td>
                                            <td class="hidden-xs text-muted text-right">19:35</td>
                                            <td class="font-w600 text-success text-right">+ $16</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">WP Theme</a></td>
                                            <td class="hidden-xs text-muted text-right">19:17</td>
                                            <td class="font-w600 text-success text-right">+ $60</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">WP Theme</a></td>
                                            <td class="hidden-xs text-muted text-right">17:49</td>
                                            <td class="font-w600 text-success text-right">+ $59</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <table class="table remove-margin-b font-s13">
                                    <tbody>
                                        <tr>
                                            <td class="font-w600">
                                                <a href="javascript:void(0)">Admin Template</a>
                                            </td>
                                            <td class="hidden-xs text-muted text-right" style="width: 70px;">16:10</td>
                                            <td class="font-w600 text-success text-right" style="width: 70px;">+ $21</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">WP Theme</a></td>
                                            <td class="hidden-xs text-muted text-right">16:06</td>
                                            <td class="font-w600 text-success text-right">+ $48</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">WP Theme</a></td>
                                            <td class="hidden-xs text-muted text-right">15:21</td>
                                            <td class="font-w600 text-success text-right">+ $52</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">Admin Template</a></td>
                                            <td class="hidden-xs text-muted text-right">12:10</td>
                                            <td class="font-w600 text-success text-right">+ $23</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">Admin Template</a></td>
                                            <td class="hidden-xs text-muted text-right">12:09</td>
                                            <td class="font-w600 text-success text-right">+ $23</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">HTML Template</a></td>
                                            <td class="hidden-xs text-muted text-right">11:39</td>
                                            <td class="font-w600 text-success text-right">+ $16</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">Admin Template</a></td>
                                            <td class="hidden-xs text-muted text-right">11:33</td>
                                            <td class="font-w600 text-success text-right">+ $23</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">Admin Template</a></td>
                                            <td class="hidden-xs text-muted text-right">11:18</td>
                                            <td class="font-w600 text-success text-right">+ $23</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">WP Theme</a></td>
                                            <td class="hidden-xs text-muted text-right">09:49</td>
                                            <td class="font-w600 text-success text-right">+ $50</td>
                                        </tr>
                                        <tr>
                                            <td class="font-w600"><a href="javascript:void(0)">HTML Template</a></td>
                                            <td class="hidden-xs text-muted text-right">09:35</td>
                                            <td class="font-w600 text-success text-right">+ $16</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END Slick slider -->
                    </div>
                </div>
            </div>
            <!-- END Latest Sales Widget -->
        </div>
    </div>
    <div class="row hidden">
        <div class="col-lg-8">
            <!-- News -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-js-block-option data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title"> Updates</h3>
                </div>
                <div class="block-content bg-gray-lighter">
                    <!-- Slick slider (data-js-slider attribute is initialized in js/directives.js) -->
                    <!-- For more info and examples you can check out http://kenwheeler.github.io/slick/ -->
                    <div class="js-slider remove-margin-b" data-js-slider="{autoplay: true, autoplaySpeed: 4000}">
                        <div>
                            <blockquote>
                                <p>Be yourself; everyone else is already taken.</p>
                                <footer>Oscar Wilde</footer>
                            </blockquote>
                        </div>
                        <div>
                            <blockquote>
                                <p>Don't cry because it's over, smile because it happened.</p>
                                <footer>Dr. Seuss</footer>
                            </blockquote>
                        </div>
                        <div>
                            <blockquote>
                                <p>Strive not to be a success, but rather to be of value.</p>
                                <footer>Albert Einstein</footer>
                            </blockquote>
                        </div>
                        <div>
                            <blockquote>
                                <p>Every child is an artist. The problem is how to remain an artist once he grows up.</p>
                                <footer>Pablo Picasso</footer>
                            </blockquote>
                        </div>
                        <div>
                            <blockquote>
                                <p>There is only one way to avoid criticism: do nothing, say nothing, and be nothing.</p>
                                <footer>Aristotle</footer>
                            </blockquote>
                        </div>
                    </div>
                    <!-- END Slick slider -->
                </div>
                <div class="block-content">
                    <ul class="list list-timeline pull-t">
                        <!-- Twitter Notification -->
                        <li>
                            <div class="list-timeline-time">12 hrs ago</div>
                            <i class="fa fa-twitter list-timeline-icon bg-info"></i>
                            <div class="list-timeline-content">
                                <p class="font-w600">+ 1150 Followers</p>
                                <p class="font-s13">You’re getting more and more followers, keep it up!</p>
                            </div>
                        </li>
                        <!-- END Twitter Notification -->

                        <!-- Generic Notification -->
                        <li>
                            <div class="list-timeline-time">4 hrs ago</div>
                            <i class="fa fa-briefcase list-timeline-icon bg-city"></i>
                            <div class="list-timeline-content">
                                <p class="font-w600">+ 3 New Products were added!</p>
                                <p class="font-s13">Congratulations!</p>
                            </div>
                        </li>
                        <!-- END Generic Notification -->

                        <!-- System Notification -->
                        <li>
                            <div class="list-timeline-time">1 day ago</div>
                            <i class="fa fa-check list-timeline-icon bg-success"></i>
                            <div class="list-timeline-content">
                                <p class="font-w600">Database backup completed!</p>
                                <p class="font-s13">Download the <a href="javascript:void(0)">latest backup</a>.</p>
                            </div>
                        </li>
                        <!-- END System Notification -->

                        <!-- Facebook Notification -->
                        <li>
                            <div class="list-timeline-time">3 hrs ago</div>
                            <i class="fa fa-facebook list-timeline-icon bg-default"></i>
                            <div class="list-timeline-content">
                                <p class="font-w600">+ 290 Page Likes</p>
                                <p class="font-s13">This is great, keep it up!</p>
                            </div>
                        </li>
                        <!-- END Facebook Notification -->

                        <!-- Social Notification -->
                        <li>
                            <div class="list-timeline-time">2 days ago</div>
                            <i class="fa fa-user-plus list-timeline-icon bg-modern"></i>
                            <div class="list-timeline-content">
                                <p class="font-w600">+ 3 Friend Requests</p>
                                <ul class="nav-users push-10-t push">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img class="img-avatar" src="assets/img/avatars/avatar14.jpg" alt="">
                                            <i class="fa fa-circle text-success"></i> Jack Greene
                                            <div class="font-w400 text-muted"><small>Graphic Designer</small></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img class="img-avatar" src="assets/img/avatars/avatar2.jpg" alt="">
                                            <i class="fa fa-circle text-warning"></i> Judy Alvarez
                                            <div class="font-w400 text-muted"><small>Photographer</small></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <img class="img-avatar" src="assets/img/avatars/avatar11.jpg" alt="">
                                            <i class="fa fa-circle text-danger"></i> Ethan Howard
                                            <div class="font-w400 text-muted"><small>UI Designer</small></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- END Social Notification -->

                        <!-- System Notification -->
                        <li class="push-5">
                            <div class="list-timeline-time">1 week ago</div>
                            <i class="fa fa-cog list-timeline-icon bg-primary-dark"></i>
                            <div class="list-timeline-content">
                                <p class="font-w600">System updated to v2.02</p>
                                <p class="font-s13">Check the complete changelog at the <a href="javascript:void(0)">activity page</a>.</p>
                            </div>
                        </li>
                        <!-- END System Notification -->
                    </ul>
                </div>
            </div>
            <!-- END News -->
        </div>
        <div class="col-lg-4">
            <!-- Content Grid -->
            <div class="content-grid">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Author of the Month -->
                        <a class="block block-link-hover2" href="javascript:void(0)">
                            <div class="block-header">
                                <h3 class="block-title text-center">Author of the Month</h3>
                            </div>
                            <div class="block-content block-content-full text-center bg-image" style="background-image: url('assets/img/photos/photo2.jpg');">
                                <div>
                                    <img class="img-avatar img-avatar96 img-avatar-thumb" src="assets/img/avatars/avatar1.jpg" alt="">
                                </div>
                                <div class="h5 text-white push-15-t push-5">Ashley Welch</div>
                                <div class="h5 text-white-op">Web Developer</div>
                            </div>
                            <div class="block-content">
                                <div class="row items-push text-center">
                                    <div class="col-xs-6">
                                        <div class="push-5"><i class="si si-briefcase fa-2x"></i></div>
                                        <div class="h5 font-w300 text-muted">9 Projects</div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="push-5"><i class="si si-camera fa-2x"></i></div>
                                        <div class="h5 font-w300 text-muted">74 Photos</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- END Author of the Month -->

                        <!-- Mini Stats -->
                        <a class="block block-link-hover3" href="javascript:void(0)">
                            <table class="block-table text-center">
                                <tbody>
                                    <tr>
                                        <td style="width: 50%;">
                                            <div class="push-30 push-30-t">
                                                <i class="si si-graph fa-3x text-primary"></i>
                                            </div>
                                        </td>
                                        <td class="bg-gray-lighter" style="width: 50%;">
                                            <div class="h1 font-w700"><span class="h2 text-muted">+</span> 78</div>
                                            <div class="h5 text-muted text-uppercase push-5-t">Sales</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </a>
                        <a class="block block-link-hover3" href="javascript:void(0)">
                            <table class="block-table text-center">
                                <tbody>
                                    <tr>
                                        <td style="width: 50%;">
                                            <div class="push-30 push-30-t">
                                                <i class="si si-social-dribbble fa-3x text-smooth"></i>
                                            </div>
                                        </td>
                                        <td class="bg-gray-lighter" style="width: 50%;">
                                            <div class="h1 font-w700"><span class="h2 text-muted">+</span> 69</div>
                                            <div class="h5 text-muted text-uppercase push-5-t">Likes</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </a>
                        <a class="block block-link-hover3" href="javascript:void(0)">
                            <table class="block-table text-center">
                                <tbody>
                                    <tr>
                                        <td style="width: 50%;">
                                            <div class="push-30 push-30-t">
                                                <i class="si si-social-youtube fa-3x text-city"></i>
                                            </div>
                                        </td>
                                        <td class="bg-gray-lighter" style="width: 50%;">
                                            <div class="h1 font-w700"><span class="h2 text-muted">+</span> 88</div>
                                            <div class="h5 text-muted text-uppercase push-5-t">Subs</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </a>
                        <a class="block block-link-hover3" href="javascript:void(0)">
                            <table class="block-table text-center">
                                <tbody>
                                    <tr>
                                        <td style="width: 50%;">
                                            <div class="push-30 push-30-t">
                                                <i class="si si-users fa-3x text-primary-dark"></i>
                                            </div>
                                        </td>
                                        <td class="bg-gray-lighter" style="width: 50%;">
                                            <div class="h1 font-w700"><span class="h2 text-muted">+</span> 96</div>
                                            <div class="h5 text-muted text-uppercase push-5-t"> Followers</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </a>
                        <!-- END Mini Stats -->
                    </div>
                </div>
            </div>
            <!-- END Content Grid -->
        </div>
    </div>
</div>
<!-- END Page Content -->
