<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Settings<br />
								<small>To set things straight ...</small>
            </h1>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content content-boxed">
    <!-- Table Sections (data-js-table-sections attribute is initialized in js/directives.js) -->
    <div class="block">
        <div class="block-header">
            <div class="block-options">
                <code>data-js-table-sections</code>
            </div>
            <h3 class="block-title">Table Sections</h3>
        </div>
        <div class="block-content">
            <!--
            Separate your table content with multiple tbody sections. Add one row and add the class .js-table-sections-header to a
            tbody section to make it clickable. It will then toggle the next tbody section which can have multiple rows. Eg:

            <tbody class="js-table-sections-header">One row</tbody>
            <tbody>Multiple rows</tbody>
            <tbody class="js-table-sections-header">One row</tbody>
            <tbody>Multiple rows</tbody>
            <tbody class="js-table-sections-header">One row</tbody>
            <tbody>Multiple rows</tbody>

            You can also add the class .open in your tbody.js-table-sections-header to make the next tbody section visible by default
            -->
            <table class="table table-hover" data-js-table-sections>
                <thead>
                    <tr>
                        <th style="width: 30px;"></th>
                        <th>Table</th>
                        <th>Field</th>
                        <th>Data Type</th>
                        <th>Description</th>
                        <th>Example</th>
                        <th>Constraint</th>
                    </tr>
                </thead>
                <tbody class="js-table-sections-header open">
                    <tr>
                        <td class="text-center">
                            <i class="fa fa-angle-right"></i>
                        </td>
                        <td class="font-w600">Sites</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td>SiteID</td>
                        <td>Integer</td>
                        <td>Unique Identifier for each sampling location</td>
                        <td>37</td>
                        <td>Primary Key</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td>SiteID</td>
                        <td>Integer</td>
                        <td>Unique Identifier for each sampling location</td>
                        <td>37</td>
                        <td>Primary Key</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Table Sections -->
</div>
<!-- END Page Content -->
