<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Draggable Blocks <small>Interactive and easy to set up.</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>UI Elements</li>
                <li>Blocks</li>
                <li><a class="link-effect" href="">Draggable</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
    <!-- Draggable Items with jQueryUI (data-js-draggable-items attribute is initialized in js/directives.js) -->
    <!-- For more info and examples you can check out https://jqueryui.com/sortable/ -->
    <div class="row" data-js-draggable-items>
        <div class="col-sm-4 draggable-column">
            <!-- Block -->
            <div class="block draggable-item">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <span class="draggable-handler text-gray"><i class="si si-cursor-move"></i></span>
                        </li>
                    </ul>
                    <h3 class="block-title">Block</h3>
                </div>
                <div class="block-content">
                    <p>Draggable &amp; Sortable..</p>
                </div>
            </div>
            <!-- END Block -->

            <!-- Block -->
            <div class="block draggable-item">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <span class="draggable-handler text-gray"><i class="si si-cursor-move"></i></span>
                        </li>
                    </ul>
                    <h3 class="block-title">Block</h3>
                </div>
                <div class="block-content">
                    <p>Draggable &amp; Sortable..</p>
                </div>
            </div>
            <!-- END Block -->

            <!-- Block -->
            <div class="block draggable-item">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <span class="draggable-handler text-gray"><i class="si si-cursor-move"></i></span>
                        </li>
                    </ul>
                    <h3 class="block-title">Block</h3>
                </div>
                <div class="block-content">
                    <p>Draggable &amp; Sortable..</p>
                </div>
            </div>
            <!-- END Block -->

            <!-- Block -->
            <div class="block draggable-item">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <span class="draggable-handler text-gray"><i class="si si-cursor-move"></i></span>
                        </li>
                    </ul>
                    <h3 class="block-title">Block</h3>
                </div>
                <div class="block-content">
                    <p>Draggable &amp; Sortable..</p>
                </div>
            </div>
            <!-- END Block -->
        </div>
        <div class="col-sm-4 draggable-column">
            <!-- Block -->
            <div class="block draggable-item">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <span class="draggable-handler text-gray"><i class="si si-cursor-move"></i></span>
                        </li>
                    </ul>
                    <h3 class="block-title">Block</h3>
                </div>
                <div class="block-content">
                    <p>Draggable &amp; Sortable..</p>
                </div>
            </div>
            <!-- END Block -->

            <!-- Block -->
            <div class="block draggable-item">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <span class="draggable-handler text-gray"><i class="si si-cursor-move"></i></span>
                        </li>
                    </ul>
                    <h3 class="block-title">Block</h3>
                </div>
                <div class="block-content">
                    <p>Draggable &amp; Sortable..</p>
                </div>
            </div>
            <!-- END Block -->

            <!-- Block -->
            <div class="block draggable-item">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <span class="draggable-handler text-gray"><i class="si si-cursor-move"></i></span>
                        </li>
                    </ul>
                    <h3 class="block-title">Block</h3>
                </div>
                <div class="block-content">
                    <p>Draggable &amp; Sortable..</p>
                </div>
            </div>
            <!-- END Block -->

            <!-- Block -->
            <div class="block draggable-item">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <span class="draggable-handler text-gray"><i class="si si-cursor-move"></i></span>
                        </li>
                    </ul>
                    <h3 class="block-title">Block</h3>
                </div>
                <div class="block-content">
                    <p>Draggable &amp; Sortable..</p>
                </div>
            </div>
            <!-- END Block -->
        </div>
        <div class="col-sm-4 draggable-column">
            <!-- Block -->
            <div class="block draggable-item">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <span class="draggable-handler text-gray"><i class="si si-cursor-move"></i></span>
                        </li>
                    </ul>
                    <h3 class="block-title">Block</h3>
                </div>
                <div class="block-content">
                    <p>Draggable &amp; Sortable..</p>
                </div>
            </div>
            <!-- END Block -->

            <!-- Block -->
            <div class="block draggable-item">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <span class="draggable-handler text-gray"><i class="si si-cursor-move"></i></span>
                        </li>
                    </ul>
                    <h3 class="block-title">Block</h3>
                </div>
                <div class="block-content">
                    <p>Draggable &amp; Sortable..</p>
                </div>
            </div>
            <!-- END Block -->

            <!-- Block -->
            <div class="block draggable-item">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <span class="draggable-handler text-gray"><i class="si si-cursor-move"></i></span>
                        </li>
                    </ul>
                    <h3 class="block-title">Block</h3>
                </div>
                <div class="block-content">
                    <p>Draggable &amp; Sortable..</p>
                </div>
            </div>
            <!-- END Block -->

            <!-- Block -->
            <div class="block draggable-item">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <span class="draggable-handler text-gray"><i class="si si-cursor-move"></i></span>
                        </li>
                    </ul>
                    <h3 class="block-title">Block</h3>
                </div>
                <div class="block-content">
                    <p>Draggable &amp; Sortable..</p>
                </div>
            </div>
            <!-- END Block -->
        </div>
    </div>
    <!-- END Draggable Items with jQueryUI -->
</div>
<!-- END Page Content -->