<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                Chat <small>Fixed height for your multiple chat containers.</small>
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>UI Elements</li>
                <li>Chat</li>
                <li><a class="link-effect" href="">Fixed</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<!-- Chat layout and demo functionality is initialized in js/controllers.js -> UiChatCtrl Controller -->
<div class="js-chat-container content content-narrow" data-chat-mode="fixed" data-chat-height="400">
    <div class="row">
        <div class="col-sm-6">
            <!-- Single Chat (Chat Window 3) -->
            <div class="block">
                <div class="block">
                    <div class="bg-image" style="background-image: url('assets/img/photos/photo25.jpg');">
                        <div class="block-content block-content-full bg-black-op text-center">
                            <div class="push-10"><img class="img-avatar img-avatar-thumb" src="assets/img/avatars/avatar10.jpg" alt="">
                            </div>
                            <h3 class="h4"><span class="text-white">John</span></h3>
                        </div>
                    </div>
                    <div class="js-chat-talk overflow-y-auto block-content block-content-full" data-chat-id="3">
                        <!-- Messages -->
                        <div class="font-s12 text-muted text-center push-20-t push-15"><em>Yesterday</em></div>
                        <div class="block block-rounded block-transparent push-15 push-50-l">
                            <div class="block-content block-content-full block-content-mini bg-gray-lighter">Hi there!</div>
                        </div>
                        <div class="font-s12 text-muted text-center push-20-t push-10"><em>Today</em></div>
                        <div class="block block-rounded block-transparent push-15 push-50-r">
                            <div class="block-content block-content-full block-content-mini bg-gray-light">Hi!!!</div>
                        </div>
                        <!-- END Messages -->
                    </div>
                    <div class="js-chat-form block-content block-content-full block-content-mini">
                        <form action="index.html" method="post">
                            <input class="js-chat-input form-control" type="text" data-target-chat-id="3" placeholder="Type a message and hit enter..">
                        </form>
                    </div>
                </div>
            </div>
            <!-- END Single Chat (Chat Window 3) -->
        </div>
        <div class="col-sm-6">
            <!-- Single Chat (Chat Window 4) -->
            <div class="block">
                <div class="block">
                    <div class="bg-image" style="background-image: url('assets/img/photos/photo27.jpg');">
                        <div class="block-content block-content-full bg-black-op text-center">
                            <div class="push-10"><img class="img-avatar img-avatar-thumb" src="assets/img/avatars/avatar2.jpg" alt="">
                            </div>
                            <h3 class="h4"><span class="text-white">Evelyn</span></h3>
                        </div>
                    </div>
                    <div class="js-chat-talk overflow-y-auto block-content block-content-full" data-chat-id="4">
                        <!-- Messages -->
                        <div class="font-s12 text-muted text-center push-20-t push-15"><em>Yesterday</em></div>
                        <div class="block block-rounded block-transparent push-15 push-50-l">
                            <div class="block-content block-content-full block-content-mini bg-gray-lighter">Hi there!</div>
                        </div>
                        <div class="font-s12 text-muted text-center push-20-t push-10"><em>Today</em></div>
                        <div class="block block-rounded block-transparent push-15 push-50-r">
                            <div class="block-content block-content-full block-content-mini bg-gray-light">Hi!!!</div>
                        </div>
                        <!-- END Messages -->
                    </div>
                    <div class="js-chat-form block-content block-content-full block-content-mini">
                        <form action="index.html" method="post">
                            <input class="js-chat-input form-control" type="text" data-target-chat-id="4" placeholder="Type a message and hit enter..">
                        </form>
                    </div>
                </div>
            </div>
            <!-- END Single Chat (Chat Window 4) -->
        </div>
        <div class="col-xs-12">
            <!-- Chat Fixed Height -->
            <div class="block">
                <ul class="nav nav-tabs nav-tabs-alt" data-js-tabs>
                    <li class="active">
                        <a href="#chat-window1">
                            <img class="img-avatar img-avatar16" src="assets/img/avatars/avatar8.jpg" alt="">
                            <span class="push-5-l">Evelyn</span>
                        </a>
                    </li>
                    <li>
                        <a href="#chat-window2">
                            <img class="img-avatar img-avatar16" src="assets/img/avatars/avatar13.jpg" alt="">
                            <span class="push-5-l">John</span>
                        </a>
                    </li>
                    <li class="pull-right">
                        <a href="#chat-people">
                            <i class="si si-users"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content overflow-hidden">
                    <!-- Chat Window 5 -->
                    <div class="tab-pane fade in active" id="chat-window1">
                        <div class="js-chat-talk overflow-y-auto block-content block-content-full" data-chat-id="5">
                            <!-- Messages -->
                            <div class="font-s12 text-muted text-center push-20-t push-15"><em>Yesterday</em></div>
                            <div class="block block-rounded block-transparent push-15 push-50-l">
                                <div class="block-content block-content-full block-content-mini bg-gray-lighter">Hi there!</div>
                            </div>
                            <div class="block block-rounded block-transparent push-15 push-50-l">
                                <div class="block-content block-content-full block-content-mini bg-gray-lighter">How are you?</div>
                            </div>
                            <div class="font-s12 text-muted text-center push-20-t push-10"><em>Today</em></div>
                            <div class="block block-rounded block-transparent push-15 push-50-r">
                                <div class="block-content block-content-full block-content-mini bg-gray-light">I'm fine, thanks! I hope you are doing great, too!</div>
                            </div>
                            <!-- END Messages -->
                        </div>
                        <div class="js-chat-form block-content block-content-full block-content-mini">
                            <form action="index.html" method="post">
                                <input class="js-chat-input form-control" type="text" data-target-chat-id="5" placeholder="Type a message and hit enter..">
                            </form>
                        </div>
                    </div>
                    <!-- END Chat Window 5 -->

                    <!-- Chat Window 6 -->
                    <div class="tab-pane fade" id="chat-window2">
                        <div class="js-chat-talk overflow-y-auto block-content block-content-full" data-chat-id="6">
                            <!-- Messages -->
                            <div class="font-s12 text-muted text-center push-20-t push-15"><em>3 hours ago</em></div>
                            <div class="block block-rounded block-transparent push-15 push-50-l">
                                <div class="block-content block-content-full block-content-mini bg-gray-lighter">Hi Admin!</div>
                            </div>
                            <div class="block block-rounded block-transparent push-15 push-50-l">
                                <div class="block-content block-content-full block-content-mini bg-gray-lighter">Can you help me out?</div>
                            </div>
                            <div class="block block-rounded block-transparent push-15 push-50-l">
                                <div class="block-content block-content-full block-content-mini bg-gray-lighter">I'm building a new app and I would like your opinion!</div>
                            </div>
                            <div class="font-s12 text-muted text-center push-20-t push-10"><em>1 hour ago</em></div>
                            <div class="block block-rounded block-transparent push-15 push-50-r">
                                <div class="block-content block-content-full block-content-mini bg-gray-light">Hey John, sure thing, feel free to let me know!</div>
                            </div>
                            <!-- END Messages -->
                        </div>
                        <div class="js-chat-form block-content block-content-full block-content-mini">
                            <form action="index.html" method="post">
                                <input class="js-chat-input form-control" type="text" data-target-chat-id="6" placeholder="Type a message and hit enter..">
                            </form>
                        </div>
                    </div>
                    <!-- END Chat Window 6 -->

                    <!-- People -->
                    <div class="tab-pane fade fade-up" id="chat-people">
                        <div class="js-chat-people overflow-y-auto block-content block-content-full">
                            <div class="row remove-margin">
                                <div class="col-sm-4">
                                    <h3 class="text-success push-20-t push">Online</h3>
                                    <ul class="nav-users push-10-t push">
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar7.jpg" alt="">
                                                <i class="fa fa-circle text-success"></i> Judy Alvarez
                                                <div class="font-w400 text-muted"><small>Web Designer</small></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar15.jpg" alt="">
                                                <i class="fa fa-circle text-success"></i> Vincent Sims
                                                <div class="font-w400 text-muted"><small>Graphic Designer</small></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar3.jpg" alt="">
                                                <i class="fa fa-circle text-success"></i> Evelyn Willis
                                                <div class="font-w400 text-muted"><small>Photographer</small></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <h3 class="text-warning push-20-t push">Away</h3>
                                    <ul class="nav-users push-10-t push">
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar4.jpg" alt="">
                                                <i class="fa fa-circle text-warning"></i> Tiffany Kim
                                                <div class="font-w400 text-muted"><small>Web Designer</small></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar10.jpg" alt="">
                                                <i class="fa fa-circle text-warning"></i> Adam Hall
                                                <div class="font-w400 text-muted"><small>Graphic Designer</small></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar7.jpg" alt="">
                                                <i class="fa fa-circle text-warning"></i> Amber Walker
                                                <div class="font-w400 text-muted"><small>Photographer</small></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar16.jpg" alt="">
                                                <i class="fa fa-circle text-warning"></i> Jeremy Fuller
                                                <div class="font-w400 text-muted"><small>Web Developer</small></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar3.jpg" alt="">
                                                <i class="fa fa-circle text-warning"></i> Rebecca Gray
                                                <div class="font-w400 text-muted"><small>Photographer</small></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <h3 class="text-muted push-20-t push">Offline</h3>
                                    <ul class="nav-users push-10-t push">
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar8.jpg" alt="">
                                                <i class="fa fa-circle text-muted"></i> Emma Cooper
                                                <div class="font-w400 text-muted"><small>Web Designer</small></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar15.jpg" alt="">
                                                <i class="fa fa-circle text-muted"></i> Joshua Munoz
                                                <div class="font-w400 text-muted"><small>Web Developer</small></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar8.jpg" alt="">
                                                <i class="fa fa-circle text-muted"></i> Rebecca Reid
                                                <div class="font-w400 text-muted"><small>Photographer</small></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar9.jpg" alt="">
                                                <i class="fa fa-circle text-muted"></i> Ethan Howard
                                                <div class="font-w400 text-muted"><small>Graphic Designer</small></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar8.jpg" alt="">
                                                <i class="fa fa-circle text-muted"></i> Judy Alvarez
                                                <div class="font-w400 text-muted"><small>Web Designer</small></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar15.jpg" alt="">
                                                <i class="fa fa-circle text-muted"></i> Jeremy Fuller
                                                <div class="font-w400 text-muted"><small>Graphic Designer</small></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img class="img-avatar" src="assets/img/avatars/avatar8.jpg" alt="">
                                                <i class="fa fa-circle text-muted"></i> Amber Walker
                                                <div class="font-w400 text-muted"><small>Web Developer</small></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END People -->
                </div>
            </div>
            <!-- END Chat Fixed Height -->
        </div>
    </div>
</div>
<!-- END Page Content -->