<style>
.bg-white {
	background: white !important;
}
.right {
	float: right !important;
}
.issue-status {
	border-radius: 5px !important; 
	padding: 5px 15px !important; 
	line-height: 40px !important;
	color: white;
	margin-right: 10px;
}
.issue-open {
	background-color: #3cbd70 !important; 
}
.issue-close {
	background-color: #c50404 !important; 
}
</style>
<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Issues </br>
								<small>Close, Edit, Create Issues.</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a data-ui-sref="issues" class="link-effect" >Issues</a></li>
                <li>View</li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
    <div class="row">
        <div class="col-lg-12">
					<md-card>
						<md-card-content>
							<div style="float: left;" class="col-md-6 col-xs-12">
									<span class="issue-status issue-open" ng-if='issue.status == "open"'>OPEN</span>
									<span class="issue-status issue-close" ng-if='issue.status == "close"'>CLOSE</span>
									<span><strong>Issue #{{issue.ticket_id}}</strong></span>
									<span> opened <strong>{{issue.date_opened_formatted}}</strong> ago by </span>
									<span><strong>{{issue.opened_by.full_name}}</strong></span> 
							</div>
							<div style="float: right;" class="col-md-6 col-xs-12">
									<md-button data-ui-sref="newissues" class="right md-raised md-primary">New Issue</md-button>
									<md-button aria-label="close issue" ng-click="closeIssue(issue)" class="right md-raised md-primary">
										<span ng-if='issue.status == "open"'>Close Issue</span>
										<span ng-if="issue.status == 'close'">Open Issue</span>
									</md-button>
									<md-button data-ui-sref="editissues({id: issue._id})" class="right md-raised md-primary">Edit</md-button>
							</div>
							<div style="margin: 25px 0" class="col-xs-12">
							 <md-divider></md-divider>
							</div>
							<div class="col-xs-12">
								<h2 style="margin-bottom: 25px;">{{issue.title}}</h2>
								<p style="line-height: 35px;">
								{{issue.description}}
								</p>
							</div>
						</md-card-content>
					</md-card>
		</div>
	</div>
</div>
<div class="content">
    <div class="row">
        <div class="col-lg-12">
						<div ng-cloak id="popupContainer">
						</div>
				</div>
    </div>
</div>
