<!-- Sidebar Scroll Container -->
<div id="sidebar-scroll">
    <!-- Sidebar Content -->
    <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
    <div class="sidebar-content">
        <!-- Side Header -->
        <div class="side-header side-content bg-white-op">
            <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-ng-click="oneui.settings.sidebarOpenXs = false" data-js-blur>
                <i class="fa fa-times"></i>
            </button>
            <div class="hidden btn-group pull-right" data-on-toggle="toggled(open)" data-uib-dropdown>
                <button class="btn btn-link text-gray" type="button" data-uib-dropdown-toggle>
                    <i class="si si-drop"></i>
                </button>
                <ul class="dropdown-menu-right font-s13 sidebar-mini-hide" data-uib-dropdown-menu>
                    <li data-ng-class="{'active': ! oneui.settings.activeColorTheme}">
                        <a data-ng-click="oneui.settings.activeColorTheme = false" tabindex="-1" href="javascript:void(0)">
                            <i class="fa fa-circle text-default pull-right"></i> <span class="font-w600">Default</span>
                        </a>
                    </li>
                    <li data-ng-class="{'active': oneui.settings.activeColorTheme === 'amethyst'}">
                        <a data-ng-click="oneui.settings.activeColorTheme = 'amethyst'" tabindex="-1" href="javascript:void(0)">
                            <i class="fa fa-circle text-amethyst pull-right"></i> <span class="font-w600">Amethyst</span>
                        </a>
                    </li>
                    <li data-ng-class="{'active': oneui.settings.activeColorTheme === 'city'}">
                        <a data-ng-click="oneui.settings.activeColorTheme = 'city'" tabindex="-1" href="javascript:void(0)">
                            <i class="fa fa-circle text-city pull-right"></i> <span class="font-w600">City</span>
                        </a>
                    </li>
                    <li data-ng-class="{'active': oneui.settings.activeColorTheme === 'flat'}">
                        <a data-ng-click="oneui.settings.activeColorTheme = 'flat'" tabindex="-1" href="javascript:void(0)">
                            <i class="fa fa-circle text-flat pull-right"></i> <span class="font-w600">Flat</span>
                        </a>
                    </li>
                    <li data-ng-class="{'active': oneui.settings.activeColorTheme === 'modern'}">
                        <a data-ng-click="oneui.settings.activeColorTheme = 'modern'" tabindex="-1" href="javascript:void(0)">
                            <i class="fa fa-circle text-modern pull-right"></i> <span class="font-w600">Modern</span>
                        </a>
                    </li>
                    <li data-ng-class="{'active': oneui.settings.activeColorTheme === 'smooth'}">
                        <a data-ng-click="oneui.settings.activeColorTheme = 'smooth'" tabindex="-1" href="javascript:void(0)">
                            <i class="fa fa-circle text-smooth pull-right"></i> <span class="font-w600">Smooth</span>
                        </a>
                    </li>
                </ul>
            </div>
            <a class="h5 text-white" data-ui-sref="dashboard" data-js-blur>
                <i class="hidden fa fa-circle-o-notch text-primary"></i>
								<span class="h4 font-w600 sidebar-mini-hide text-primary">Sensor</span>
								<span class="h4 font-w600 sidebar-mini-hide">DX</span>
            </a>
        </div>
        <!-- END Side Header -->

        <!-- Side Content -->
        <div class="side-content">
            <!-- Main navigation functionality (data-js-main-nav attribute is initialized in js/directives.js) -->
            <ul class="nav-main" data-js-main-nav>
                <li class="hidden">
                    <a data-ui-sref="angularjs" data-ui-sref-active="active">
                        <i class="si si-rocket"></i><span class="sidebar-mini-hide">AngularJS</span>
                    </a>
                </li>
                <li>
                    <a data-ui-sref="dashboard" data-ui-sref-active="active">
                        <i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span>
                    </a>
                </li>
                <li class="hidden nav-main-heading"><span class="sidebar-mini-hide">Examples</span></li>
                <li class="hidden" data-ng-class="{open: (path.indexOf('/ui/') > -1)}">
                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-badge"></i><span class="sidebar-mini-hide">UI Elements</span></a>
                    <ul>
                        <li>
                            <a data-ui-sref="uiActivity" data-ui-sref-active="active">Activity</a>
                        </li>
                        <li>
                            <a data-ui-sref="uiTabs" data-ui-sref-active="active">Tabs</a>
                        </li>
                        <li>
                            <a data-ui-sref="uiModalsTooltips" data-ui-sref-active="active">Modals &amp; Tooltips</a>
                        </li>
                        <li>
                            <a data-ui-sref="uiColorThemes" data-ui-sref-active="active">Color Themes</a>
                        </li>
                        <li>
                            <a data-ui-sref="uiBlocksDraggable" data-ui-sref-active="active">Draggable Blocks</a>
                        </li>
                        <li data-ng-class="{open: (path.indexOf('/ui/chat/') > -1)}">
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">Chat</a>
                            <ul>
                                <li>
                                    <a data-ui-sref="uiChatFull" data-ui-sref-active="active">Full</a>
                                </li>
                                <li>
                                    <a data-ui-sref="uiChatFixed" data-ui-sref-active="active">Fixed</a>
                                </li>
                                <li>
                                    <a data-ui-sref="uiChatPopup" data-ui-sref-active="active">Popup</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="hidden" data-ng-class="{open: (path.indexOf('/tables/') > -1)}">
                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-grid"></i><span class="sidebar-mini-hide">Tables</span></a>
                    <ul>
                        <li>
                            <a data-ui-sref="tablesTools" data-ui-sref-active="active">Tools</a>
                        </li>
                        <li>
                            <a data-ui-sref="tablesDatatables" data-ui-sref-active="active">DataTables</a>
                        </li>
                    </ul>
                </li>
                <li class="hidden" data-ng-class="{open: (path.indexOf('/forms/') > -1)}">
                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-note"></i><span class="sidebar-mini-hide">Forms</span></a>
                    <ul>
                        <li>
                            <a data-ui-sref="formsPickersMore" data-ui-sref-active="active">Pickers &amp; More</a>
                        </li>
                        <li>
                            <a data-ui-sref="formsEditors" data-ui-sref-active="active">Text Editors</a>
                        </li>
                        <li>
                            <a data-ui-sref="formsValidation" data-ui-sref-active="active">Validation</a>
                        </li>
                        <li>
                            <a data-ui-sref="formsWizard" data-ui-sref-active="active">Wizard</a>
                        </li>
                    </ul>
                </li>
                <li class="hidden" data-ng-class="{open: (path.indexOf('/components/') > -1)}">
                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-wrench"></i><span class="sidebar-mini-hide">Components</span></a>
                    <ul>
                        <li>
                            <a data-ui-sref="compCharts" data-ui-sref-active="active">Charts</a>
                        </li>
                        <li>
                            <a data-ui-sref="compCalendar" data-ui-sref-active="active">Calendar</a>
                        </li>
                        <li>
                            <a data-ui-sref="compSliders" data-ui-sref-active="active">Sliders</a>
                        </li>
                        <li>
                            <a data-ui-sref="compScrolling" data-ui-sref-active="active">Scrolling</a>
                        </li>
                        <li>
                            <a data-ui-sref="compSyntaxHighlighting" data-ui-sref-active="active">Syntax Highlighting</a>
                        </li>
                        <li>
                            <a data-ui-sref="compRating" data-ui-sref-active="active">Rating</a>
                        </li>
                        <li>
                            <a data-ui-sref="compTreeview" data-ui-sref-active="active">Tree View</a>
                        </li>
                        <li data-ng-class="{open: (path.indexOf('/components/maps/') > -1)}">
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">Maps</a>
                            <ul>
                                <li>
                                    <a data-ui-sref="compMapsGoogle" data-ui-sref-active="active">Google</a>
                                </li>
                                <li>
                                    <a data-ui-sref="compMapsGoogleFull" data-ui-sref-active="active">Google Full</a>
                                </li>
                                <li>
                                    <a data-ui-sref="compMapsVector" data-ui-sref-active="active">Vector</a>
                                </li>
                            </ul>
                        </li>
                        <li data-ng-class="{open: (path.indexOf('/components/gallery/') > -1)}">
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">Gallery</a>
                            <ul>
                                <li>
                                    <a data-ui-sref="compGallerySimple" data-ui-sref-active="active">Simple</a>
                                </li>
                                <li>
                                    <a data-ui-sref="compGalleryAdvanced" data-ui-sref-active="active">Advanced</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="hidden" class="nav-main-heading"><span class="sidebar-mini-hide">APIs</span></li>
                <li class="hidden">
                    <a data-ui-sref="blocks" data-ui-sref-active="active">
                        <i class="si si-frame"></i><span class="sidebar-mini-hide">Blocks</span>
                    </a>
                </li>
                <li class="hidden">
                    <a data-ui-sref="layout" data-ui-sref-active="active">
                        <i class="si si-magic-wand"></i><span class="sidebar-mini-hide">Layout</span>
                    </a>
                </li>
                <li class="hidden nav-main-heading"><span class="sidebar-mini-hide">Get Started</span></li>
                <li class="hidden">
                    <a data-ui-sref="create" data-ui-sref-active="active">
                        <i class="si si-power"></i><span class="sidebar-mini-hide">Create</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- END Side Content -->
    </div>
    <!-- Sidebar Content -->
</div>
<!-- END Sidebar Scroll Container -->
