<div id="sidebar-scroll">
  <div class="sidebar-content">
    <div class="side-header side-content bg-white-op">
      <button
        class="btn btn-link text-gray pull-right hidden-md hidden-lg"
        type="button"
        data-ng-click="oneui.settings.sidebarOpenXs = false"
        data-js-blur>
        <i class="fa fa-times" />
      </button>
      <a class="h5 text-white" data-ui-sref="issues" data-js-blur>
        <i class="hidden fa fa-circle-o-notch text-primary" />
        <img src="/assets/img/various/sensor-dx-logo.png" />
        <span class="h4 font-w600 sidebar-mini-hide text-primary">Sensor</span>
        <span class="h4 font-w600 sidebar-mini-hide">DX</span>
      </a>
    </div>
    <div class="side-content">
      <ul class="nav-main" data-js-main-nav>
        <li class="">
          <a data-ui-sref="dashboard" data-ui-sref-active="active">
            <i class="si si-rocket" />
            <span class="sidebar-mini-hide">Dashboard</span>
          </a>
        </li>
        <li>
          <a data-ui-sref="issues" data-ui-sref-active="active">
            <i class="si si-speedometer" />
            <span class="sidebar-mini-hide">Issues</span>
          </a>
        </li>
        <li>
          <a data-ui-sref="faultinbox" data-ui-sref-active="active">
            <i class="si si-magic-wand" />
            <span class="sidebar-mini-hide">Fault Inbox</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>;
