<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <h1>Fault Inbox</h1>
      <p>{{inbox}}</p>
      <div id="graphdiv">

    </div>

    <div class="validate">
      <label for="Sensor">Sensor</label><br />
      <input type="checkbox" name="sensor" value="wg" checked> Wind Gusts<br>
      <input type="checkbox" name="sensor" value="wd"> Wind Direction<br>
      <input type="checkbox" name="sensor" value="ws" > Wind Speed<br>
      <input type="checkbox" name="sensor" value="te" > Temperature<br>
      <input type="checkbox" name="sensor" value="ap" > Atmospheric Pressure<br>
      <input type="checkbox" name="sensor" value="rh" > Relative Humidity<br>
      <input type="checkbox" name="sensor" value="ra" > Radiation<br>
      <input type="checkbox" name="sensor" value="vp" > Vapor Pressure<br>
      <input type="checkbox" name="sensor" value="ec" > Electrical Conductivity<br>
      <input type="checkbox" name="sensor" value="pr" > Precipitation<br><br />
      <button id = "validate" onclick = "addnewGraph()">Add Graph</button><br><br>
      <p>
        Synchronize
      </p>
      <div class="material-switch pull-right">
          <input class = "sync" id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox"/>
          <label for="someSwitchOptionSuccess" class="label-success"></label>
      </div>
      <hr />
      <p>
        Annotations
      </p>
      <div class="material-switch pull-right">
          <input class = "annotations" id="someSwitchOptionInfo" name="someSwitchOption001" type="checkbox" checked/>
          <label for="someSwitchOptionInfo" class="label-info"></label>
      </div>
      <br /><hr>
      <button id="hour">Hour</button>
      <button id="day">Day</button>
      <button id="week">Week</button>
      <button id="month">Month</button>

    </div>
    </div>
  </div>
</div>
